/* styles.css - Layout*/

/*FONTS*/
/*BANNER*/
/*GENERAL*/
/*SCORE-COUNTER*/
/*IMAGE-SLIDER*/
/*DOT-SELECTOR*/
/*HERO-INFO*/
/*SLIDER-SCROLLER*/
/*RESULTS-MODAL*/
/*API-MODAL*/
/*FOOTER*/
/*RESPONSIVE-STYLES*/
/*INTROJS-GUIDE*/
/*JASMINE*/

/*FONTS*/

@font-face {
  font-family: avengeance-heroic-avenger;
  src: url(/assets/the-fontry_avengeance/AVENGEANCE-HEROIC-AVENGER.otf) format('otf'),
       url(/assets/the-fontry_avengeance/AVENGEANCE-HEROIC-AVENGER.ttf) format('ttf'),
}

/*FONTS-END*/

/*BANNER*/

h1 {
	color: #4239B8;
	font-family: avengeance-heroic-avenger;
	background: -webkit-linear-gradient(right, #4239B8 , #FFA94A, #4239B8);
	background: -o-linear-gradient(right, #4239B8, #FFA94A, #4239B8);
	background: -moz-linear-gradient(right, #4239B8, #FFA94A, #4239B8);
	background: linear-gradient(to right, #4239B8 , #FFA94A, #4239B8);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin: 10px 0 20px;
}

/*BANNER-END*/

/*GENERAL*/

body {
	background-color: #0a1926;
	font-family: sans-serif;
}

p {
  color: #818786;
  font-size: 14px;
  line-height: 25px;
  text-align: justify;
}

/*GENERAL-END*/

/*SCORE-COUNTER*/

.score-counter-list {
	margin: 0 auto 20px;
	padding: 0;
}

.score-counter-list > div > img {
	margin: 0px 2px 4px;
	width: 32px;
	background-color: #000;
	border-radius: 4px;
	padding: 6px;
}

/*SCORE-COUNTER-END*/

/*IMAGE-SLIDER*/

.hero-column {
	margin-bottom: 15px;
}

.hero-slider,
.villain-slider {
	width: 80%;
	background-color: #392569;
	border: solid 6px #7269C2;
	border-radius: 6px;
	margin: 0 auto;
}

#heroImg,
#villainImg {
	height: 230px;
	width: 190px;
  margin: 0 auto;
  position: relative;
}

.hero-img,
.villain-img {
	background-color: #000;
	border: 4px solid #222;
	border-radius: 6px;
	display: block;
	margin: 24px auto 10px;
	width: 190px;
	height: 190px;
}

.overlay {
	position: absolute;
	top: 22px;
	bottom: 0;
	left: 0;
	right: 0%;
	height: 192px;
	width: 192px;
	opacity: 0;
	transition: .5s ease-in-out;
	border: 6px solid #000;
	border-radius: 6px;
	background-color: rgba(0, 0, 0, .5);
	margin: 0 auto;
}

.overlay-text {
  color: #FF9404;
  font-size: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 2px 2px 2px #000;
}

.info-overlay {
	position: absolute;
	top: 162px;
	left: 13px;
}

.info-overlay-text {
	background-color: rgba(34, 34, 34, 0.5);
	border: none;
	border-radius: 2px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	color: #FF9404;
	-ms-transform: translate(-50%, -50%);
	transition: all 0.25s ease-in-out;
	text-shadow: 2px 2px 2px #000;
}

.info-overlay-text {
	font-size: 12px;
	height: 38px;
	width: 163px;
	line-height: 42px;
}

.info-overlay-text:hover {
  background-color: rgba(68, 68, 68, 0.6);
  color: #E4BA29;
  text-shadow: none;
}

/*IMAGE-SLIDER-END*/

/*DOT-SELECTOR*/

.dot-selector {
	margin: 0 auto;
	width: 65%;
}

.dot {
	background-color: #6E67A2;
	border-radius: 50%;
	cursor: pointer;
	display: inline-block;
	margin: 0;
	height: 9.7px;
	width: 9.7px;
	transition: background-color 0.6s ease;
	display: none;
}

.dot:hover {
  background-color: #E1DFFC;
}

.active {
  background-color: #FB8606;
}

.tooltip-selector-bg {
  position: relative;
}

.tooltip-selector > .tooltiptext {
	display: none;
	width: 204px;
	background-color: rgba(34, 34, 34, 0.5);
	color: #FF9404;
	text-align: center;
	padding: 8px 4px 8px;
	position: absolute;
	z-index: 2;
	font-size: 16px;
	font-style: italic;
	top: -52px;
	left: 5px;
	border: none;
	border-radius: 2px;
	transition: all .75s ease-in;
	-webkit-transition: all .75s ease-in;
	-moz-transition: all .75s ease-in;
	-o-transition: all .75s ease-in;
}

.tooltip-selector > .tooltipimg {
	display: none;
	background-color: #000;
	border: 4px solid #222;
	border-radius: 6px;
	margin: 0 auto 20px;
	position: absolute;
	top: -230px;
	left: -8px;
	height: 230px;
	width: 230px;
	z-index: 3;
	transition: all .75s ease-in;
	-webkit-transition: all .75s ease-in;
	-moz-transition: all .75s ease-in;
	-o-transition: all .75s ease-in;
}

.tooltip-selector:hover > .tooltiptext {
  display: block;
  z-index: 2;
}

.tooltip-selector:hover > .tooltipimg {
  display: block;
  z-index: 1;
}

/*DOT-SELECTOR-END*/

/*HERO-INFO*/

.hero-title,
.villain-title {
  color: #EF9B3F;
	font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.hero-list li,
.villain-list li {
	border-radius: 4px;
	display: block;
	font-weight: bold;
	text-decoration: none;
	transition: all 0.25s ease-in-out;
	margin: 0 auto 4px;
	padding: 8px;
	text-align: center;
	width: 160px;
}

.hero-list-inactive,
.villain-list-inactive {
  background-color: #4B4675;
  color: #777;
}

.hero-list-active,
.villain-list-active {
  background-color: #968CF3;
  color: #fff;
  cursor: pointer;
	font-size: 15px;
	padding: 7px 0;
	width: 180px;
}

.hero-list-active:hover {
  background-color: #fff;
  color: #968CF3;
}

/*styles for selected hero catergory*/
.selected-catergory {
  background-color: #FFA94A;
  color: #F93D1D;
}

.select-hero,
.select-villain {
	border: solid 4px #222;
	border-radius: 6px;
	font-size: 12px;
	font-weight: bold;
	margin: 0 10px;
	transition: all 0.25s ease-in-out;
	width: 160px;
	height: 55px;
}

.select-hero {
	font-size: 10px;
}

.select-hero-inactive,
.select-villain-inactive {
	background-color: #4B4675;
	border: solid 4px #5C5787;
	border-radius: 6px;
	color: #777;
}

.select-hero-active,
.select-villain-active {
	background-color: #4A3CC9;
	border: solid 4px #bbb;
	border-radius: 6px;
	color: #fff;
}

.select-hero-active:hover,
.select-villain-active:hover {
	background-color: #fff;
	color: #1D0B46;
	border-color: #1D0B46;
}

.select-hero-selected,
.select-villain-selected {
  background-color: #FFA94A;
  border-color: #9f5b50;
  color: #f93d1d;
}

/*HERO-INFO-END*/

/*SLIDER-SCROLLER*/

/* Next & previous buttons */
.prev,
.next {
  background-color: transparent;
  color: #6E67A2 !important;
	cursor: pointer;
	font-weight: bold;
	font-size: 26px;
	padding: 5px 0;
	transition: 0.6s ease;
	border: solid 2px transparent;
	border-radius: 4px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0,0,0,0.9) !important;
  color: #E4BA29 !important;
}

.play-again-button-bg {
  margin: 30px 0 20px;
}

.play-again-button {
  background-color: #4A3CC9;
  border: solid 4px #bbb;
  border-radius: 6px;
  color: #fff;
	font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  height: 50px;
  width: 160px;
}

/*SLIDER-SCROLLER-END*/

/*RESULTS-MODAL*/

.results-modal {
  position: fixed;
  background-color: rgba(0,0,0,.9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  opacity: 1;
}

.results-modal-inner > div {
  background-color: #1D0B46;
  border: 4px solid #888;
  border-radius: 4px;
	padding: 10px 5px;
}

.results-modal-inner h2 {
  color: #ffa500;
  text-shadow: 2px 2px 2px #000;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 30px;
  text-align: center;
}
 
.hero-modal-image {
  border: solid 4px #888;
  border-radius: 4px;
  background-color: #222230;
  box-shadow: 5px 10px 8px #000;
  display: block;
  margin: 20px auto 30px;
	width: 40%;
}

.results-modal-infinitystone {
	width: 100%;
}

.results-modal-infinitystone > p {
  color: #888;
  font-size: 12px;
  text-align: center;
 }

.results-modal-inner > p > span {
  font-weight: bold;
  font-size: 14px;
  text-shadow: 2px 2px 2px #000;
}

.infinitystone-modal-image {
  background-color: #000;
  padding: 12px;
  border-radius: 8px;
  display: block;
  margin: 0 auto 15px;
  width: 40px;
}

.game-complete-list {
	padding: 0;
	text-align: center; 
}

.game-complete-list > li {
	display: inline-block;
	padding: 5px 2px;
}

.game-complete-list > li > img {
	width: 31px;
	padding: 2px;
	border: 2px solid #1D0B46;
	border-radius: 24px;
}

#resultsModal.modal-fadeout {
  animation-name: fadeout;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes fadeout {
  0%{opacity:1; display:block;}
  66%{opacity:1}
  100%{opacity:0; display: none;}
}

@-webkit-keyframes fadeout {
  0%{opacity:1; display:block;}
  66%{opacity:1}
  100%{opacity:0; display: none;}
}

.overlay-fadein {
  animation:3s ease 0s normal forwards 1 fadein;
  -webkit-animation:3s ease 0s normal forwards 1 fadein;
  opacity:1
}

@keyframes fadein{
  0%{opacity:0; display: none;}
  66%{opacity:0}
  100%{opacity:1; display: block;}
}

@-webkit-keyframes fadein{
  0%{opacity:0; display: none;}
  66%{opacity:0}
  100%{opacity:1; display: block;}
}

.modal-fadein{
  animation:6s ease 0s normal forwards 1 fadein;
  -webkit-animation:6s ease 0s normal forwards 1 fadein;
  opacity:1;
  display: block;
  z-index: 4;
}

@keyframes fadein{
  0%{opacity:0; display: none;}
  66%{opacity:0}
  100%{opacity:1; display: block;}
}

@-webkit-keyframes fadein{
  0%{opacity:0; display: none;}
  66%{opacity:0}
  100%{opacity:1; display: block;}
}

/*match color of infinity stone name with image*/
.power-stone-color {
  color: #9f7cdc;
}

.space-stone-color {
  color: #62c8c3;
}

.reality-stone-color {
  color: #ff5151;
}

.soul-stone-color {
  color: #fca02e;
}

.time-stone-color {
  color: #3eca3e;
}

.mind-stone-color {
  color: #ebe84e;
}

/*results-modal-animations*/

.glowing-border {
    box-shadow: 0 0 10px 1px #eff8b5;
}

@keyframes blink {
   50% {
    box-shadow: 0 0 10px 1px #eff8b5;
   }
}

.blinking-border {
    animation: blink .75s step-end infinite alternate;
}

@keyframes glow {
   50% {
    background-color: #fff;
    box-shadow: 0 0 10px 1px #eff8b5;
    border-color: #eff8b5;
   }
}

.glow-effect {
    animation: glow 1s step-end infinite alternate;
}

/*RESULTS-MODAL-END*/

/*API-MODAL*/

.marvel-data-bg {
  position: fixed;
  background-color: rgba(0,0,0,.9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.marvel-data {
	max-width: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.marvel-data-hide {
  display: none
}

.marvel-data-reveal {
  display: block;
}

.marvel-data img {
  border: 4px solid #222;
  border-radius: 6px;
  display: block;
  margin: 10px auto;
  height: 150px;
  width: 150px;
}

.marvel-data h2 {
  font-size: 20px;
  margin: 20px 0 10px;
  text-align: center;
  font-weight: bold;
  color: #EF9B3F;
}

.marvel-data p {
	color: #818786;
	font-size: 12px;
	margin: 0 15px 15px;
	text-align: justify;
}

.marvel-data ul {
  list-style: none;
  padding: 0;
}

.marvel-data-urls a {
  background-color: #968CF3;
  border-radius: 6px;
  color: #fff;
  display: block;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}

.marvel-data-urls a {
	font-size: 15px;
	margin: 0 auto 8px;
	padding: 6px 0;
	width: 200px;
}

.marvel-data a:hover {
  background-color: #fff;
  color: #968CF3;
}

.marvel-data-button {
  background-color: #4A3CC9;
  border: solid 4px #bbb;
  border-radius: 6px;
  color: #fff;
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin: 20px auto 0;
  text-align: center;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  width: 150px;
  height: 45px;
}

.play-again-button:hover,
.marvel-data-button:hover {
  background-color: #fff;
  border-color: #534AD2;
  color: #1D0B46;
}

#marvelCopyRight {
	color: #777;
	font-size: 10px;
	text-align: center;
	margin-top: 25px;
}

/*API-MODAL-END*/

/*FOOTER*/

#copyRight {
	color: #777;
	font-size: 10px;
	text-align: center;
	margin: 20px 0;
}

/*FOOTER-END*/

/*INTROJS-GUIDE*/

#startGuide {
	background: #212529;
	border: solid 4px #7269C2;
	border-radius: 6px;
	color: #EF9B3F;
	font-size: 18px;
	font-weight: bold;
	position: absolute;
	width: 120px;
	height: 60px;
	transition: all 0.25s ease-in-out;
	transform: translateX(-50%);
	top: 165px;
	left: 50%;
	z-index: 1;
}

#startGuide:hover {
	background-color: #000;
	color: #ff3b01;
	border-color: #222;
}

.start-guide-show {
  display: block;
}

.start-guide-hide {
  display: none;
}

.introjs-tooltip {
	background-color: rgba(000, 0, 0, .8);
	color: #e66b28;
	padding: 20px;
	margin: 0 auto;
	text-align: center;
	border: solid 6px #7269C2;
}

.introjs-helperLayer {
	background-color: #000;
	border: 1px solid #e66b28;
	border-radius: 4px;
}

.introjs-bullets ul li a {
	background: #444;
}

.introjs-bullets ul li a.active {
	background: #e66b28;
}

.introjs-bullets ul li a:hover {
	background: #e66b28;
}

.introjs-arrow.top, .introjs-arrow.top-middle, .introjs-arrow.top-right {
  border-color: transparent transparent #7269C2;
  top: -23px;
  left: 20px;
}
.introjs-arrow.bottom, .introjs-arrow.bottom-middle, .introjs-arrow.bottom-right {
  border-color: #7269C2 transparent transparent;
  bottom: -23px;
  left: 20px;
}
.introjs-arrow.left, .introjs-arrow.right {
    top: -4px;
}
.introjs-arrow.left-bottom, .introjs-arrow.right-bottom {
    bottom: 20px;
}

.introjs-arrow.left, .introjs-arrow.left-bottom {
  left: -23px;
  border-color: transparent #7269C2 transparent transparent;
}
.introjs-arrow.right, .introjs-arrow.right-bottom {
  right: -23px;
  border-color: transparent transparent transparent #7269C2;
}

/*INTROJS-GUIDE-END*/

/*RESPONSIVE-STYLES*/

/*mobile devices*/

@media (min-width: 360px) {
  h1 {
    font-size: 18px
  }

  .select-hero {
	  font-size: 12px;
  }

  .prev, .next {
  	padding: 5px;
  }
}

@media (min-width: 385px) {
  h1 {
  	font-size: 20px;
  }
}

@media (min-width: 400px) {
  #heroImg,
  #villainImg {
  	height: 270px;
  	width: 230px;
  }

  .hero-img,
  .villain-img {
  	width: 230px;
  	height: 230px;
  }

  .info-overlay {
  	top: 200px;
  	left: 16px;
  }
  
  .overlay {
  	height: 232px;
  	width: 232px;
  }

  .info-overlay-text {
  	font-size: 14px;
  	height: 40px;
  	width: 198px;
  	line-height: 43px;
  }

  .hero-title,
  .villain-title {
    font-size: 26px;
  }  

  .hero-list li,
  .villain-list li {
  	width: 200px;
  }

  .select-hero,
  .select-villain {
    font-size: 16px;
  }

  .select-villain {
  	width: 200px;
  }

  #copyRight {
  	font-size: 12px;
  }
}

@media (min-width: 422px) {
  h1 {
    font-size: 22px
  }
}

/*make dots visible for larger mobile devices*/
@media (min-width: 461px) {
  h1 {
    font-size: 23px
  }

  .hero-list li,
  .villain-list li {
  	width: 220px;
  }
  
  .select-villain {
  	width: 220px;
  }
}

@media (min-width: 500px) {
  h1 {
    font-size: 26px
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .hero-column {
  	margin-bottom: 0;
  }
  
  .hero-slider,
  .villain-slider {
  	width: 100%;
  }

  h1 {
  	font-size: 28px;
  	margin: 10px 0;
  }
  
  .score-counter-list {
  	margin-bottom: 5px;
  }

  .score-counter-list > div > img {
  	margin: 0 2px 10px;
  	width: 30px;
  	background-color: #000;
  	border-radius: 4px;
  	padding: 6px;
  }

  #startGuide {
  	/*background: #212529;*/
  	/*border: solid 4px #7269C2;*/
  	/*border-radius: 6px;*/
  	/*color: #EF9B3F;*/
  	font-size: 16px;
  	/*font-weight: bold;*/
  	/*position: absolute;*/
  	width: 95px;
  	height: 50px;
  	/*transition: all 0.25s ease-in-out;*/
  	/*transform: translateX(-50%);*/
  	top: 135px;
  	left: 50.5%;
  	/*z-index: 1;*/
  }

  #heroImg,
  #villainImg {
  	height: 205px;
  }

  .hero-img,
  .villain-img {
  	margin: 20px auto 4px;
  	width: 174px;
  	height: 174px;
  }

  .villain-img {
  	margin-top: 20px;
  }
  
  .overlay {
  	border: 6px solid #000;
  	top: 9%;
  	left: 0%;
  	height: 177px;
  	width: 177px;
  }

  .overlay-text {
  	font-size: 28px;
  }

  .info-overlay {
  	position: absolute;
  	top: 149px;
  	left: 42px;
  }

  .info-overlay-text {
  	line-height: 33px;
  	height: 32px;
  	width: 147px;
  	font-size: 11px;
  }

  .dot-selector {
  	margin: 0 auto;
  	width: 75%;
  }

  .tooltip-selector > .tooltipimg {
  	top: -170px;
  	left: -7px;
  	height: 174px;
  	width: 174px;
  }

  .tooltip-selector > .tooltiptext {
  	font-size: 15px;
  	line-height: 22px;
  	top: -45px;
  	left: 10px;
  	height: 36px;
  	width: 147px;
  }

  .hero-title,
  .villain-title {
  	font-size: 20px;
  }

  .heroInfo,
  .villainInfo {
  	padding: 0rem 1.25rem;
  }

  .hero-list li,
  .villain-list li {
  	font-size: 12px;
  	margin: 0 auto 2px;
  	padding: 6px;
  	width: 150px;
  }
 
 .select-hero,
 .select-villain {
  	font-size: 10px;
  	margin: 0 6px;
  	width: 150px;
  	height: 45px;
  }

  .card-body-select-hero {
  	padding: 1.25rem 0;
  }
  
  .select-hero {
	  width: 130px;
  }

  .prev,
  .next {
  	font-size: 18px;
  	padding: 5px;
  	margin-top: 2px;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

  .hero-slider,
  .villain-slider {
  	width: 100%;
  }

  h1 {
  	font-size: 36px;
  	margin: 15px 0;
  }

  .score-counter-list > div > img {
  	margin: 0 2px 20px;
  	width: 40px;
  	padding: 8px;
  }

  #startGuide {
  	/*background: #212529;*/
  	/*border: solid 4px #7269C2;*/
  	/*border-radius: 6px;*/
  	/*color: #EF9B3F;*/
  	font-size: 18px;
  	/*font-weight: bold;*/
  	/*position: absolute;*/
  	width: 120px;
  	height: 60px;
  	/*transition: all 0.25s ease-in-out;*/
  	/*transform: translateX(-50%);*/
  	top: 165px;
  	left: 50%;
  	/*z-index: 1;*/
  }

  #heroImg {
  	height: 224px;
  	width: 205px;
  }

  #villainImg {
  	height: 248px;
  	width: 205px;
  }

  .hero-img,
  .villain-img {
  	margin: 20px auto 5px;
  	width: 205px;
  	height: 205px;
  }

  .overlay {
  	top: 20px;
  	left: 0;
  	height: 207px;
  	width: 207px;
  }

  .overlay-text {
  	font-size: 32px;
  }

  .info-overlay {
  	left: 13px;
  	top: 178px;
  }

  .info-overlay-text {
  	height: 36px;
  	line-height: 37px;
  	width: 179px;
  }

  .dot-selector {
  	margin: 0 auto;
  	width: 65%;
  }

  .dot {
  	height: 8.5px;
  	width: 8.5px;
  	margin: 0;
  	display: inline-block;
  }

  .tooltip-selector > .tooltipimg {
  	top: -204px;
  	height: 205px;
  	width: 205px;
  }

  .tooltip-selector > .tooltiptext {
  	font-size: 15px;
  	line-height: 22px;
  	top: -48px;
  	left: 6px;
  	height: 36px;
  	width: 179px;
  }

  .hero-title,
  .villain-title {
  	font-size: 26px;
  }

  .hero-list li,
  .villain-list li {
    font-size: 16px;
  	margin: 0 auto 4px;
  	padding: 6px;
  	width: 200px;
  }
 
 .select-hero,
 .select-villain {
  	font-size: 16px;
  	margin: 0 8px;
  	width: 200px;
  	height: 55px;
  }
  
  .select-hero {
	  width: 180px;
  }
  
  .prev,
  .next {
  	font-size: 26px;
  	padding: 4px;
  }

    #copyRight {
  	  font-size: 14px;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

  .hero-slider,
  .villain-slider {
  	width: 85%;
  }

  h1 {
  	font-size: 38px;
  	margin: 15px 0;
  }

  .score-counter-list > div > img {
  	margin: 2px 4px 20px;
  	width: 45px;
  	padding: 10px;
  }

  #startGuide {
  	/* background: #212529; */
  	/* border: solid 4px #7269C2; */
  	/* border-radius: 6px; */
  	/* color: #EF9B3F; */
  	font-size: 22px;
  	/* font-weight: bold; */
  	/* position: absolute; */
  	width: 150px;
  	height: 70px;
  	/* transition: all 0.25s ease-in-out; */
  	/* transform: translateX(-50%); */
  	top: 200px;
  	left: 50%;
  	/* z-index: 1; */
  }

  #heroImg {
  	height: 286px;
  	width: 255px;
  }

  #villainImg {
  	height: 288px;
  	width: 255px;
  }

  .hero-img,
  .villain-img {
  	margin: 28px auto 10px;
  	width: 255px;
  	height: 255px;
  }

  .overlay {
  	top: 26px;
  	left: -1px;
  	height: 258px;
  	width: 258px;
  }

  .overlay-text {
  	font-size: 36px;
  }

  .info-overlay {
  	left: 13px;
  	top: 230px;
  	line-height: 40px;
  }

  .info-overlay-text {
    width: 230px;
  }


  .hero-title,
  .villain-title {
  	font-size: 30px;
  }

  .dot-selector {
  	margin: 0 auto;
  	width: 65%;
  }
  
  .dot {
  	height: 10.5px;
  	width: 10.5px;
  	margin: 0px 0.4px;
  }

  .tooltip-selector > .tooltipimg {
  	top: -259px;
  	left: -11px;
  	height: 255px;
  	width: 255px;
  }

  .tooltip-selector > .tooltiptext {
  	font-size: 16px;
  	line-height: 24px;
  	top: -56px;
  	left: 3px;
  	height: 38px;
  	width: 228px;
  }

  .villain-title {
  	margin-top: 22px;
  }

  .hero-list li,
  .villain-list li {
  	margin: 0 auto 4px;
  	padding: 8px;
  	width: 215px;
  }
 
  .select-hero,
  .select-villain {
  	margin: 0 10px;
  	width: 215px;
  	height: 55px;
  }
  
  .select-hero {
	  width: 180px;
  }
  
  .prev,
  .next {
  	font-size: 25px;
  	padding: 5px;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

  .hero-slider,
  .villain-slider {
  	width: 80%;
  }

  h1 {
  	font-size: 40px;
  	margin: 20px 0;
  }

  .score-counter-list > div > img {
  	margin: 4px 4px 20px;
  	width: 48px;
  	padding: 10px;
  }

  #heroImg {
  	height: 318px;
  	width: 290px;
  }

  #villainImg {
  	height: 320px;
  	width: 290px;
  }

  .hero-img,
  .villain-img {
  	margin: 26px auto 10px;
  	width: 290px;
  	height: 290px;
  }

  .overlay {
  	top: 25px;
  	left: 0;
  	height: 292px;
  	width: 292px;
  }
  
  .overlay-text {
  	font-size: 40px;
  }

  .info-overlay {
  	top: 264px;
  	left: 13px;
  }

  .info-overlay-text {
  	font-size: 14px;
  	height: 40px;
  	width: 264px;
  	line-height: 44px;
  }

  .dot-selector {
  	margin: 0 auto;
  	width: 68%;
  }

  .dot {
  	height: 12px;
  	width: 12px;
  	margin: 0px 1px;
  }

  .tooltip-selector > .tooltipimg {
  	top: -292px;
  	left: -9px;
  	height: 290px;
  	width: 290px;
  }

  .tooltip-selector > .tooltiptext {
  	font-size: 16px;
  	line-height: 24px;
  	top: -55px;
  	left: 5px;
  	height: 38px;
  	width: 262px;
  }
 
  .hero-title,
  .villain-title {
  	font-size: 32px;
  }

  .hero-list li,
  .villain-list li {
    font-size: 18px;
  	margin: 0 auto 4px;
  	padding: 10px;
  	width: 250px;
  }
 
 .select-hero,
 .select-villain {
  	font-size: 18px;
  	width: 250px;
  	height: 60px;
  }
  
  .select-hero {
	  width: 200px;
  }
  
  .prev,
  .next {
  	font-size: 26px;
  }
}

/*RESPONSIVE-STYLES-END*/

/*JASMINE*/

/*overlay and hide hero and villain list used for jasmine testing*/
#jasmineHeroInfo,
#jasmineVillainInfo {
  position: absolute;
  top: 224px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  visibility: hidden;
}

/*JASMINE-END*/
