/* styles.css - Layout*/

/*FONTS*/
/*BANNER*/
/*GENERAL*/
/*SCORE-COUNTER*/
/*IMAGE-SLIDER*/
/*DOT-SELECTOR*/
/*HERO-INFO*/
/*SLIDER-SCROLLER*/

/*SELECT-HERO-BUTTON*/

/*RESULTS-MODAL*/
/*API-MODAL*/
/*JASMINE*/
/*RESPONSIVE-STYLES*/


/*FONTS*/

@font-face {
  font-family: avengeance-heroic-avenger;
  src: url(/assets/the-fontry_avengeance/AVENGEANCE-HEROIC-AVENGER.otf) format('otf'),
       url(/assets/the-fontry_avengeance/AVENGEANCE-HEROIC-AVENGER.ttf) format('ttf'),
}

/*FONTS-END*/

/*BANNER*/

h1 {
	color: #4239B8;
	font-family: avengeance-heroic-avenger;
	background: -webkit-linear-gradient(right, #4239B8 , #FFA94A, #4239B8);
	background: -o-linear-gradient(right, #4239B8, #FFA94A, #4239B8);
	background: -moz-linear-gradient(right, #4239B8, #FFA94A, #4239B8);
	background: linear-gradient(to right, #4239B8 , #FFA94A, #4239B8);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin: 10px 0 20px;
}

/*BANNER-END*/

/*GENERAL*/

body {
	background-color: #0a1926;
	font-family: 'Chakra', sans-serif;
}

p {
  color: #818786;
  font-family: 'Chakra', sans-serif;
  font-size: 14px;
  line-height: 25px;
  text-align: justify;
}

/*GENERAL-END*/

/*SCORE-COUNTER*/

.score-counter-list {
	/*display: block;*/
	/*margin: 0 auto;*/
	padding: 0;
}

.score-counter-list > div, 
.game-complete-list > div {
	/*float: left;*/
	/*display: block;*/
	/*list-style: none;*/
	/*text-align: center;*/
	/*padding: 5px 2px;*/
}

.score-counter-list > div > img {
	margin: 0 2px;
	width: 30px;
	background-color: #000;
	border-radius: 4px;
	padding: 6px;
}

/*SCORE-COUNTER-END*/

/*IMAGE-SLIDER*/

.hero-slider,
.villain-slider {
	width: 80%;
	background-color: #392569;
	border: solid 6px #7269C2;
	border-radius: 6px;
	margin: 0 auto;
}

.hero-img,
.villain-img,
.overlay {
	background-color: #000;
	border: 4px solid #222;
	border-radius: 6px;
	display: block;
	/*margin: 24px auto;*/
	width: 80%;
}

.info-overlay {
	position: absolute;
	top: 158px;
	/* text-align: center; */
	left: 31.25px;
}

.info-overlay-text {
	background-color: rgba(34, 34, 34, 0.5);
	border: none;
	/* border-radius: 2px; */
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	color: #FF9404;
	font-size: 12px;
	/* position: absolute; */
	padding: 8px 52px; 
	/* top: 34%; */
	/* left: 50%; */
	/* transform: translate(-50%, -50%); */
	/* -webkit-transform: translate(-50%, -50%); */
	-ms-transform: translate(-50%, -50%);
	transition: all 0.25s ease-in-out;
	text-shadow: 2px 2px 2px #000;
	width: 166px;
	/* text-align: center; */
	height: 30px;
}

.info-overlay-text:hover {
  background-color: rgba(68, 68, 68, 0.6);
  color: #E4BA29;
  text-shadow: none;
}

/*IMAGE-SLIDER-END*/

/*DOT-SELECTOR*/

/*postion dots inline with slide*/
.dot-selector {
	margin: 0 auto;
	width: 65%;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 7.5px;
  width: 7.5px;
  margin: 0 2px;
  background-color: #6E67A2;
  border-radius: 50%;
  /*display: inline-block;*/
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #E1DFFC;
}

.active {
  background-color: #FB8606;
}

/*make positioning  of tooptip content relative to parent element*/
.tooltip-selector {
  /*position: relative;*/
}

.tooltip-selector > .tooltiptext {
  display: none;
  width: 200px;
  background-color: rgba(34, 34, 34, 0.5);
  color: #FF9404;
  text-align: center;
  padding: 8px 4px 8px;
  /*position: absolute;*/
  z-index: 2;
  font-size: 16px;
  font-style: italic;
  /*top: -47px;*/
  border: none;
  border-radius: 2px;
  transition: all .75s ease-in;
  -webkit-transition: all .75s ease-in;
  -moz-transition: all .75s ease-in;
  -o-transition: all .75s ease-in;
}

.tooltip-selector > .tooltipimg {
  display: none;
  /*position: absolute;*/
  background-color: #000;
  border: 4px solid #222;
  border-radius: 6px;
  margin: 0 auto 20px;
  height: 200px;
  width: 200px;
  z-index: 3;
  /*top: -211px;*/
  transition: all .75s ease-in;
  -webkit-transition: all .75s ease-in;
  -moz-transition: all .75s ease-in;
  -o-transition: all .75s ease-in;
}

.tooltip-selector:hover > .tooltiptext {
  display: none;
  z-index: 2;
}

.tooltip-selector:hover > .tooltipimg {
  display: none;
  z-index: 1;
}

/*DOT-SELECTOR-END*/

/*HERO-INFO*/

.hero-title,
.villain-title {
  color: #EF9B3F;
  font-family: 'Chakra', sans-serif;
  font-weight: bold;
  text-align: center;
}

.hero-list li,
.villain-list li {
	border-radius: 4px;
	display: block;
	font-weight: bold;
	text-decoration: none;
	transition: all 0.25s ease-in-out;
	margin: 0 auto 4px;
	padding: 5px;
	text-align: center;
	width: 200px;
}

.hero-list-inactive,
.villain-list-inactive {
  background-color: #4B4675;
  color: #777;
}

.hero-list-active,
.villain-list-active {
  background-color: #968CF3;
  color: #fff;
  cursor: pointer;
	font-size: 15px;
	padding: 7px 0;
	width: 180px;
}

/*.hero-list a, .villain-list a {
}*/

.hero-list-active:hover {
  background-color: #fff;
  color: #968CF3;
}

/*styles for selected hero catergory*/
.selected-catergory {
  background-color: #FFA94A;
  color: #F93D1D;
}

/*center select hero & villain button */
/*.select-hero-bg,
.select-villain-bg {
  justify-content: center !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}*/

.select-hero,
.select-villain {
	border: solid 4px #222;
	border-radius: 6px;
	/* display: block; */
	font-size: 16px;
	font-weight: bold;
	margin: 0 10px;
	/* text-align: center; */
	/*text-decoration: none;*/
	transition: all 0.25s ease-in-out;
	width: 200px;
	height: 55px;
}

.select-hero {
	width: 160px;
}

.select-hero-inactive,
.select-villain-inactive {
	background-color: #4B4675;
	border: solid 4px #5C5787;
	border-radius: 6px;
	color: #777;
}

.select-hero-active,
.select-villain-active {
	background-color: #4A3CC9;
	border: solid 4px #bbb;
	border-radius: 6px;
	color: #fff;
}

.select-hero-active:hover,
.select-villain-active:hover {
	background-color: #fff;
	color: #1D0B46;
	border-color: #1D0B46;
}

.select-hero-selected,
.select-villain-selected {
  background-color: #FFA94A;
  border-color: #9f5b50;
  color: #f93d1d;
}

/*HERO-INFO-END*/

/*SLIDER-SCROLLER*/

/* Next & previous buttons */
.prev,
.next {
  background-color: rgba(0,0,0,0.6);
  cursor: pointer;
  color: #ddd;
  font-weight: bold;
  /*font-size: 20px;*/
  padding: 5px;
  /*padding: 8px 1px 12px 2px;*/
  /*position: absolute;*/
  transition: 0.6s ease;
  /*top: -316px;*/
  /*user-select: none;*/
  border: solid 2px transparent;
  border-radius: 4px;
}
.prev,
.next {
	/*background-color: rgba(0,0,0,0.6);*/
  background-color: transparent;
  color: #6E67A2 !important;
	/*color: #ddd !important;*/
	cursor: pointer;
	font-weight: bold;
	font-size: 26px;
	 padding: 5px; 
	/* padding: 8px 1px 12px 2px; */
	/* position: absolute; */
	transition: 0.6s ease;
	/* top: -316px; */
	/* user-select: none; */
	border: solid 2px transparent;
	border-radius: 4px;
}

/*.prev,
.next {
    display: block;
    font-size: 20px;
    padding: 5px 1px 6px 2px;
    top: 11px;
}*/

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0,0,0,0.9) !important;
  color: #E4BA29 !important;
}

/*SLIDER-SCROLLER-END*/

/*RESULTS-MODAL*/

.results-modal {
  /*position: absolute;*/
  background-color: rgba(0,0,0,.9);
  /*top: 0;*/
  /*left: 0;*/
  width: 100%;
  height: 100%;
  display: none;
  opacity: 1;
}

.results-modal-inner {
  background-color: #1D0B46;
  border: 4px solid #888;
  border-radius: 4px;
	padding: 10px 5px;
	max-width: 800px;
	max-height: 720px;
	/*position: absolute;*/
	/*top: 50%;*/
	/*left: 50%;*/
	/*transform: translate(-50%,-50%);*/
}

.results-modal-inner > h2 {
  color: #ffa500;
  text-shadow: 2px 2px 2px #000;
  font-size: 20px;
  font-weight: bold;
  /*position: absolute;*/
  text-align: center;
	/*top: 2%;*/
	/*transform: translateX(-50%);*/
	/*left: 50%;*/
	/*width: 100%;*/
}
 
.hero-modal-image {
  border: solid 4px #888;
  border-radius: 4px;
  background-color: #222230;
  box-shadow: 5px 10px 8px #000;
	/*position: absolute;*/
	/*top: 8%;*/
	/*width: 28%;*/
	/*transform: translateX(-50%);*/
	/*left: 50%;*/
}

.results-modal-infinitystone {
	/*position: absolute;*/
	/*top: 49%;*/
	/*transform: translateX(-50%);*/
	/*left: 50%;*/
	width: 100%;
}

.results-modal-infinitystone > p {
  color: #888;
  font-size: 12px;
  text-align: center;
 }

.results-modal-inner > p > span {
  font-weight: bold;
  font-size: 14px;
  text-shadow: 2px 2px 2px #000;
}

.infinitystone-modal-image {
  background-color: #000;
  padding: 12px;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
  width: 40px;
}

#resultsModal.modal-fadeout {
  animation-name: fadeout;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes fadeout{
    0%{opacity:1; display:block;}
    66%{opacity:1}
    100%{opacity:0; display: none;}
}

@-webkit-keyframes fadeout{
    0%{opacity:1; display:block;}
    66%{opacity:1}
    100%{opacity:0; display: none;}
}

.overlay-fadein{
animation:3s ease 0s normal forwards 1 fadein;
-webkit-animation:3s ease 0s normal forwards 1 fadein;
opacity:1
}

@keyframes fadein{
  0%{opacity:0; display: none;}
  66%{opacity:0}
  100%{opacity:1; display: block;}
}

@-webkit-keyframes fadein{
  0%{opacity:0; display: none;}
  66%{opacity:0}
  100%{opacity:1; display: block;}
}

.modal-fadein{
  animation:6s ease 0s normal forwards 1 fadein;
  -webkit-animation:6s ease 0s normal forwards 1 fadein;
  opacity:1;
  display: block;
  z-index: 4;
}

@keyframes fadein{
  0%{opacity:0; display: none;}
  66%{opacity:0}
  100%{opacity:1; display: block;}
}

@-webkit-keyframes fadein{
  0%{opacity:0; display: none;}
  66%{opacity:0}
  100%{opacity:1; display: block;}
}

/*match color of infinity stone name with image*/
.power-stone-color {
  color: #9f7cdc;
}

.space-stone-color {
  color: #62c8c3;
}

.reality-stone-color {
  color: #ff5151;
}

.soul-stone-color {
  color: #fca02e;
}

.time-stone-color {
  color: #3eca3e;
}

.mind-stone-color {
  color: #ebe84e;
}

/*results-modal-animations*/

.glowing-border {
    box-shadow: 0 0 10px 1px #eff8b5;
}

@keyframes blink {
   50% {
    box-shadow: 0 0 10px 1px #eff8b5;
   }
}

.blinking-border {
    animation: blink .75s step-end infinite alternate;
}

@keyframes glow {
   50% {
    background-color: #fff;
    box-shadow: 0 0 10px 1px #eff8b5;
    border-color: #eff8b5;
   }
}

.glow-effect {
    animation: glow 1s step-end infinite alternate;
}

/*RESULTS-MODAL-END*/

/*API-MODAL*/

.marvel-data-bg {
  position: absolute;
  background-color: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.marvel-data {
  background-color: #392569;
  border-style: none;
  margin: 0 auto;
  padding: 20px;
  padding-top: 24px;
  min-height: 80%;
	width: 80%;
	max-width: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.marvel-data-hide {
  display: none
}

.marvel-data-reveal {
  display: block;
}

.marvel-data img {
  border: 4px solid #222;
  border-radius: 6px;
  display: block;
  margin: 10px auto;
  height: 150px;
  width: 150px;
}

.marvel-data h2 {
  font-size: 20px;
  margin: 20px 0 10px;
  text-align: center;
  font-weight: bold;
  color: #EF9B3F;
}

.marvel-data p {
  color: #818786;
  font-family: 'Chakra', sans-serif;
  font-size: 12px;
  margin: 10px 0;
  text-align: justify;
}

.marvel-data a {
  background-color: #968CF3;
  border-radius: 6px;
  color: #fff;
  display: block;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  /*width: 150px;*/
}

.marvel-data a:hover {
  background-color: #fff;
  color: #968CF3;
}

.marvel-data-button {
  background-color: #4A3CC9;
  border: solid 4px #bbb;
  border-radius: 6px;
  color: #fff;
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin: 20px auto 0;
  text-align: center;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  width: 150px;
  height: 45px;
}

.play-again-button:hover,
.marvel-data-button:hover {
  background-color: #fff;
  border-color: #534AD2;
  color: #1D0B46;
}

/*API-MODAL-END*/

/*RESPONSIVE-STYLES*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

  .hero-slider,
  .villain-slider {
  	width: 100%;
  }

  h1 {
  	font-size: 28px;
  	margin: 10px 0;
  }

  .score-counter-list > div > img {
  	margin: 0 2px;
  	width: 30px;
  	background-color: #000;
  	border-radius: 4px;
  	padding: 6px;
  }

  .hero-img,
  .villain-img,
  .overlay {
  	margin: 20px auto 4px;
  	width: 75%;
  }

  .villain-img {
  	margin-top: 20px;
  }

  .dot-selector {
  	margin: 0 auto;
  	width: 75%;
  }
  
  .dot {
  	height: 8px;
  	width: 8px;
  	/*margin: 0 2px;*/
  }

  .hero-title,
  .villain-title {
  	font-size: 20px;
  	/*margin-top: 15px;*/
  }

  .villain-title {
  	margin-top: 9px;
  }
  
  /*reduce padding around hero and villain title*/
  /*.hero-slider .card-body:nth-of-type(1),
  .villain-slider .card-body:nth-of-type(1) {
  	padding: 0.5rem 0rem 0rem;
  }*/

  /*.villain-slider .card-body:nth-of-type(1) {
  	padding-bottom: 1.8rem;
  }*/

  /*reduce padding around hero and villain list*/
  .heroInfo,
  .villainInfo {
  	padding: 0rem 1.25rem;
  }

  .hero-list li,
  .villain-list li {
  	font-size: 12px;
  	margin: 0 auto 2px;
  	padding: 6px;
  	width: 150px;
  }
 
 .select-hero,
 .select-villain {
  	font-size: 11px;
  	margin: 0 6px;
  	width: 150px;
  	height: 45px;
  }

  /*reduce padding for select hero button*/
  .card-body-select-hero {
  	padding: 1.25rem 0;
  }
  
  .select-hero {
	  width: 130px;
  }

  /*reduce padding around hero select-hero button and navigation arrows*/
  /*.hero-slider > .card-body:nth-of-type(3) {
    padding: 1.25rem 0;
  }*/
 
  .prev,
  .next {
  	font-size: 18px;
  	padding: 5px;
  	margin-top: 2px;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

  .hero-slider,
  .villain-slider {
  	width: 100%;
  }

  h1 {
  	font-size: 36px;
  	margin: 15px 0;
  }

  .score-counter-list > div > img {
  	margin: 0 2px;
  	width: 40px;
  	padding: 8px;
  }

  .hero-img,
  .villain-img {
  	margin: 20px auto 5px;
  	width: 65%;
  }

  .info-overlay {
  	left: 59.5px;
  	top: 193px;
  }

  .info-overlay-text {
    width: 201px;
  }

  .dot-selector {
  	margin: 0 auto;
  	width: 65%;
  }

  .dot {
  	height: 9px;
  	width: 9px;
  	/*margin: 0 2px;*/
  }

  .hero-title,
  .villain-title {
  	font-size: 26px;
  	margin-top: 15px;
  }

  .villain-title {
  	margin-top: 22px;
  }
  
  /*reduce padding around hero and villain title*/
  /*.hero-slider > .card-body:nth-of-type(1),
  .villain-slider > .card-body:nth-of-type(1) {
  	padding: 0.5rem 0rem 0rem;
  }*/

  .hero-list li,
  .villain-list li {
    font-size: 16px;
  	margin: 0 auto 4px;
  	padding: 6px;
  	width: 200px;
  }
 
 .select-hero,
 .select-villain {
  	font-size: 16px;
  	margin: 0 8px;
  	width: 200px;
  	height: 55px;
  }
  
  .select-hero {
	  width: 180px;
  }
  
  .prev,
  .next {
  	font-size: 26px;
  	padding: 4px;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

  .hero-slider,
  .villain-slider {
  	width: 85%;
  }

  h1 {
  	font-size: 38px;
  	margin: 15px 0;
  }

  .score-counter-list > div > img {
  	margin: 2px 4px;
  	width: 45px;
  	padding: 10px;
  }

  /*.hero-img,
  .villain-img {
  	margin: 20px auto;
  	width: 70%;
  }*/

  .info-overlay {
  	left: 67.5px;
  	top: 227px;
  }

  .info-overlay-text {
    width: 236px;
  }

  .hero-title,
  .villain-title {
  	font-size: 30px;
  	margin-top: 15px;
  }

  .dot-selector {
  	margin: 0 auto;
  	width: 65%;
  }
  
  .dot {
  	height: 10px;
  	width: 10px;
  	margin: 0px 2.5px;
  }

  .villain-title {
  	margin-top: 22px;
  }
  
  /*reduce padding around hero and villain title*/
  /*.hero-slider > .card-body:nth-of-type(1),
  .villain-slider > .card-body:nth-of-type(1) {
  	padding: 0.5rem 0rem 0rem;
  }*/

  .hero-list li,
  .villain-list li {
  	/*font-size: 16px;*/
  	margin: 0 auto 4px;
  	padding: 8px;
  	width: 215px;
  }
 
  .select-hero,
  .select-villain {
  	/*font-size: 16px;*/
  	margin: 0 10px;
  	width: 215px;
  	height: 55px;
  }
  
  .select-hero {
	  width: 180px;
  }
  
  .prev,
  .next {
  	font-size: 25px;
  	padding: 5px;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

  .hero-slider,
  .villain-slider {
  	width: 80%;
  }

  h1 {
  	font-size: 40px;
  	margin: 20px 0;
  }

  .score-counter-list > div > img {
  	margin: 4px;
  	width: 48px;
  	padding: 10px;
  }

  .hero-img,
  .villain-img {
  	/*margin: 20px auto;*/
  	width: 68%;
  }

  .info-overlay {
  	top: 262px;
  	left: 70.25px;
  }

  .info-overlay-text {
    font-size: 14px;
    padding: 10px 0; 
  height: 40px;
    width: 280px;
  }

  .dot-selector {
  	margin: 0 auto;
  	width: 68%;
  }

  .dot {
  	height: 12px;
  	width: 12px;
  	margin: 0px 3px;
  }
  
  .hero-title,
  .villain-title {
  	font-size: 32px;
  	margin-top: 15px;
  }

  .villain-title {
  	margin-top: 22px;
  }
  
  /*reduce padding around hero and villain title*/
  /*.hero-slider > .card-body:nth-of-type(1),
  .villain-slider > .card-body:nth-of-type(1) {
  	padding: 0.3rem 0rem 0rem;
  }*/

  .hero-list li,
  .villain-list li {
    font-size: 18px;
  	margin: 0 auto 4px;
  	padding: 10px;
  	width: 250px;
  }
 
 .select-hero,
 .select-villain {
  	font-size: 18px;
  	/*margin: 0 10px;*/
  	width: 250px;
  	height: 60px;
  }
  
  .select-hero {
	  width: 200px;
  }
  
  .prev,
  .next {
  	font-size: 26px;
  	/*padding: 5px;*/
  }
}

/*RESPONSIVE-STYLES-END*/