/* styles.css - Layout*/

/*FONTS*/
/*BANNER*/
/*GENERAL*/
/*SCORE-COUNTER*/
/*IMAGE-SLIDER*/
/*HERO-INFO/LIST*/
/*SLIDER-SCROLLER*/
/*SELECT-HERO-BUTTON*/
/*DOT-SELECTOR*/
/*RESULTS-MODAL*/
/*API-MODAL*/
/*JASMINE*/

/*FONTS*/

@font-face {
  font-family: avengeance-heroic-avenger;
  src: url(/assets/the-fontry_avengeance/AVENGEANCE-HEROIC-AVENGER.otf) format('otf'),
       url(/assets/the-fontry_avengeance/AVENGEANCE-HEROIC-AVENGER.ttf) format('ttf'),
}

/*FONTS-END*/

/*BANNER*/

header {
  height: 7.5%;
}

h1 {
	color: #4239B8;
	font-family: avengeance-heroic-avenger;
	font-size: 16px;
	background: -webkit-linear-gradient(right, #4239B8 , #FFA94A, #4239B8);
	background: -o-linear-gradient(right, #4239B8, #FFA94A, #4239B8);
	background: -moz-linear-gradient(right, #4239B8, #FFA94A, #4239B8);
	background: linear-gradient(to right, #4239B8 , #FFA94A, #4239B8);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: bold;
	/* line-height: 20px; */
	text-align: center;
	text-transform: uppercase;
	margin: 10px 0 20px;
}

@media (min-width: 520px) {
  header {
    height: 14%;
  }

  h1 {
    font-size: 24px;
    margin: 15px 0;
  } 
}

@media (min-width: 570px) and (min-height: 600px) {
  header {
    height: 15%;
  }

	h1 {
		font-size: 28px;
		margin: 38px 0 20px;
	}
}

@media (min-width: 768px) and (max-height: 749px){
  h1 {
    font-size: 26px;
		margin: 18px 0 16px;
	}	
}

@media (min-width: 768px) and (min-height: 750px){
  h1 {
    font-size: 30px;
		margin: 22px 0 20px;
	}	
}

@media (min-width: 768px) {
  header {
    height: 14%;
  }
 
/*  h1 {
    font-size: 30px;
		margin: 22px 0 20px;
	}*/
}

@media (min-width: 992px) {
  header {
    height: 14%;
  }

	h1 {
		/*margin-bottom: 20px;*/
    font-size: 34px;
		margin: 20px 0;
	}
}

/*BANNER-END*/

/*GENERAL*/

* {box-sizing:border-box}

body {
    font-family: 'Chakra', sans-serif;
}

p {
    color: #818786;
    font-size: 14px;
    line-height: 25px;
    text-align: justify;
}

ul,
li {
    margin: 0;
    padding: 0;
}

.page-bg {
	position: relative;
	background-color: #000;
	/*margin: auto;*/
}

.page {
	background-color: #0a1926;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100%;
	width: 100%;
	max-height: 800px;
	max-width: 1200px;
}

/*@media (min-width: 520px) {
  .page {
    height: 576px;
  }
}*/
  
/*@media (min-width: 570px) {
  .page {
    height: 594px;
  }
}*/

/*@media (min-width: 768px) {
  .page {
    height: 650px;
  }
}*/

/*GENERAL-END*/

/*SCORE-COUNTER*/

.score-counter {
  display: block;
  position: relative;
  /*padding: 10px 0;*/
  /*top: -14px;*/
}

.score-counter-list,
.game-complete-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /*text-align: center;*/
    /*text-shadow: 2px 2px 2px #000;*/
}

.score-counter-list > li,
.game-complete-list > li {
  float: left;
  display: block;
  text-align: center;
  padding: 5px 2px;
}

.score-counter-list > li > img {
  margin: 0 auto;
  width: 20px;
  background-color: #000;
  border-radius: 2px;
  padding: 6px;
}

.game-complete-list > li > img {
  width: 35px;
  padding: 4px;
}

.game-complete-list > li > img {
  width: 31px;
  background-color: #222;
   padding: 2px;
  border: 2px solid #222;
  border-radius: 24px;
}

@media (min-width: 520px) {
  /*.score-counter {
    top: 6px;
  }*/

  .score-counter-list > li > img {
    width: 25px;
  }
}

@media (min-width: 520px) and (max-height:449px) {
  .score-counter {
    top: 3px;
  }

	.score-counter-list > li > img {
		width: 21px;
	}
}

@media (min-width: 520px) and (min-height: 450px) and (max-height: 529px) {
  .score-counter {
    top: 6px;
  }
}

@media (min-width: 520px) and (min-height: 530px) and (max-height: 579px)  {
  .score-counter {
    top: 9px;
  }
}

@media (min-width: 520px) and (min-height: 580px) {
  .score-counter {
    top: 11px;
  }	
}

@media (min-width: 570px) and (max-height: 719px) {
  .score-counter {
  	top: 12px;
  }

  .score-counter-list > li > img {
    width: 26px;
  }
}

@media (min-width: 570px) and (min-height: 720px) {
  .score-counter {
  	top: 18px;
  }

  .score-counter-list > li > img {
    width: 28px;
  }	
}

/*@media (min-width: 570px) {
  .score-counter {
  	top: 18px;
  }

  .score-counter-list > li > img {
    width: 28px;
  }
}*/

@media (min-width: 768px) and (max-height: 749px){
  .score-counter {
  	top: 13px;
  }

  .score-counter-list > li > img {
    width: 27px;
  }
}

@media (min-width: 768px) and (min-height: 750px){
  .score-counter {
  	top: 19px;
  }

  .score-counter-list > li > img {
    width: 29px;
  }
}

@media (min-width: 768px) {
  /*.score-counter {
  	top: 19px;
  }*/

/*  .score-counter-list > li > img {
    width: 29px;
  }*/
}

@media (min-width: 992px) {
  .score-counter {
  	top: 15px;
  }

  .score-counter-list > li > img {
    width: 30px;
  }
}

/*SCORE-COUNTER-END*/

/*IMAGE-SLIDER*/

/* Slideshow container */
.hero-slider,
.villain-slider {
  width: 42%;
  position: absolute;
  height: 80%;
  background-color: #392569;
  border: solid 6px #7269C2;
  border-radius: 6px;
}

.hero-slider {
  left: 6.5%;
}

.villain-slider {
  left: 53.5%;
}

.hero-slider-inner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	height: 85%;
}


#heroImg,
#villainImg {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%,-50%);
}

#heroImg > img,
#villainImg > img,
.overlay {
  background-color: #000;
  border: 4px solid #222;
  border-radius: 6px;
  display: block;
  margin: 12px auto 16px;
  height: 160px;
  width: 160px;
}

#heroInfo, #villainInfo {
	position: absolute;
	top: 60.5%;
	left: 50%;
	transform: translate(-50%,-50%);
}

/*.overlay-container {
    position: relative;
    width: 100%;
}*/

/*.info-overlay {
  background-color: rgba(0, 0, 0, .5);
  border-radius: 6px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0%;
  right: 0%;
}*/

.overlay {
  background-color: rgba(0, 0, 0, .5);
  border-radius: 6px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0%;
  right: 0%;

}

.info-overlay-text {
  background-color: rgba(34, 34, 34, 0.5);
  border: none;
  border-radius: 2px;
  color: #FF9404;
  font-size: 12px;
  position: absolute;
  padding: 5px 10px;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transition: all 0.25s ease-in-out;
  text-shadow: 2px 2px 2px #000;
  width: 142px;
}

.info-overlay-text:hover {
  background-color: rgba(68, 68, 68, 0.6);
  color: #E4BA29;
  text-shadow: none;
}

.overlay-text {
    color: #FF9404;
    font-size: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 2px 2px 2px #000;
}

@media (min-width: 520px) {
  .hero-slider,
  .villain-slider {
    width: 40%;
  }

	#heroImg,
	#villainImg {
		top: 20%;
	}

	.info-overlay-text {
		font-size: 12px;
		padding: 5px 10px;
		top: 81.5%;
		width: 142px;
	}
}

@media (min-width: 520px) and (max-height: 449px) {
  #heroImg > img,
  #villainImg > img,
  .overlay {
		top: 19%;
    height: 120px;
    width: 120px;
  }
}

@media (min-width: 520px) and (min-height: 450px) and (max-height: 529px) {
  #heroImg > img,
  #villainImg > img,
  .overlay {
		top: 19%;
    height: 130px;
    width: 130px;
  }
}

@media (min-width: 520px) and (min-height: 530px) {
  #heroImg > img,
  #villainImg > img,
  .overlay {
    /*background-color: #000;*/
    /*border: 4px solid #222;*/
    /*border-radius: 6px;*/
    /*display: block;*/
    /*margin: 12px auto 16px;*/
		/*position: absolute;*/
		top: 19%;
		/*left: 50%;*/
		/*transform: translate(-50%,-50%);*/
    height: 150px;
    width: 150px;
  }
}

@media (min-width: 570px) {
	.hero-slider,
	.villain-slider {
		width: 40%;
		height: 80%;
	}

	.hero-slider {
	    left: 7.5%;
	}
	
	.villain-slider {
	  left: 52.5%;
	} 

  /*#heroImg > img,
  #villainImg > img,
  .overlay {
    height: 150px;
    width: 150px;
  }*/

	.info-overlay-text {
		top: 83%;
		width: 157.5px;
	}
}

/*@media (min-width: 570px) and (max-height: 689px) {
  #heroImg > img,
  #villainImg > img,
  .overlay {
    height: 150px;
    width: 150px;
  }
}*/

@media (min-width: 570px) and (min-height: 690px) {
  #heroImg > img,
  #villainImg > img,
  .overlay {
    height: 162px;
    width: 162px;
  }
}

@media (min-width: 690px) {
	.hero-slider,
	.villain-slider {
		width: 36%;
		height: 75%;
	}

	.hero-slider {
	    left: 10%;
	}
	
	.villain-slider {
	  left: 54%;
	} 

  #heroImg > img,
  #villainImg > img,
  .overlay {
    height: 165px;
    width: 165px;
  }

	.info-overlay-text {
		/* font-size: 12px; */
		/* padding: 5px 10px; */
		top: 83%;
		width: 157.5px;
	}
}

@media (min-width: 768px) {
  .hero-slider,
  .villain-slider {
    width: 33%;
    height: 80%;
  }
  
	.hero-slider {
	    left: 14%;
	}
	
	.villain-slider {
	  left: 53%;
	} 
}

@media (min-width: 768px) and (max-height: 589px) {
	#heroImg > img,
  #villainImg > img,
  .overlay {
    height: 150px;
    width: 150px;
  }
}

@media (min-width: 768px) and (min-height: 590px) and (max-height: 749px) {
	#heroImg > img,
  #villainImg > img,
  .overlay {
    height: 165px;
    width: 165px;
  }
}

@media (min-width: 768px) and (min-height: 750px) {
  .image-slider {
    /*height: 840px;*/
  }

	#heroImg,
	#villainImg {
		/*position: absolute;*/
		top: 20%;
		/*left: 50%;*/
		/*transform: translate(-50%,-50%);*/
	}

  #heroImg > img,
  #villainImg > img,
  .overlay {
    height: 190px;
    width: 190px;
  }

	.info-overlay-text {
		font-size: 14px;
		/* padding: 4px 9px; */
		top: 84.5%;
		width: 96%;
	}
}

@media (min-width: 992px){
  .hero-slider,
  .villain-slider {
    width: 30%;
    /*height: 83.5%;*/
  }
  
	.hero-slider {
	    left: 15%;
	}
	
	.villain-slider {
	  left: 55%;
	} 

  .image-slider {
    /*height: 840px;*/
  }
 
  #heroImg > img,
  #villainImg > img,
  .overlay {
    height: 210px;
    width: 210px;
  }

  .info-overlay-text {
    font-size: 14px;
    padding: 4px 10px;
    top: 87.5%;
    width: 96.5%;
  }
}

/*IMAGE-SLIDER-END*/

/*HERO-INFO/LIST*/

#heroInfo h2,
#villainInfo h2 {
  /*margin-bottom: 15px;*/
  text-align: center;
  font-weight: bold;
  color: #EF9B3F;
}

#heroInfo li,
#villainInfo li {
  margin: 0 auto 5px;
  text-align: center;
}

.hero-list a,
.villain-list a {
	border-radius: 4px;
	display: block;
	font-family: 'Chakra', sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	transition: all 0.25s ease-in-out;
	margin: 0 auto;
	padding: 5px 0;
	text-align: center;
	width: 125px;
}

.hero-list-inactive,
.villain-list-inactive {
  background-color: #4B4675;
  color: #777;
}

.hero-list-active {
  background-color: #968CF3;
  color: #fff;
  cursor: pointer;
}

.hero-list-active:hover {
  background-color: #fff;
  color: #968CF3;
}

/*styles for selected hero catergory*/
.selected-catergory {
  background-color: #FFA94A;
  color: #F93D1D;
}

/*position select hero & villain button below character slide & information*/
.select-hero-bg,
.select-villain-bg {
  position: absolute;
  /*top: 50%;*/
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

@media (max-width: 409px) {
  .villain-slider {
    top: 190px;
    left: 50%;
  } 
}

@media (min-width: 520px) {
	#heroInfo, #villainInfo {
		position: absolute; 
		left: 50%; 
		transform: translate(-50%,-50%); 
		width: 200px;
	}

	#heroInfo li,
  #villainInfo li {
    margin: 0 auto;
  }
 
	.hero-list a,
	.villain-list a {
		border-bottom-style: solid;
		border-bottom-width: 2px;
		border-bottom-color: #39577a;
		border-radius: 0;
		width: 125px;
	}

	.hero-list li:nth-of-type(1) a,
	.villain-list li:nth-of-type(1) a {
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		padding-top: 8px;
	}

	.hero-list li:nth-of-type(6) a, 
	.villain-list li:nth-of-type(6) a {
		border-bottom-color: transparent;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		padding-bottom: 8px
	}	
}

@media (min-width: 520px) and (max-height:449px) {
	.hero-slider,
	.villain-slider {
		border-style: none;
		width: 38%;
	}

	.hero-slider {
		left: 7.5%;
	}

	.villain-slider {
		left: 54.5%;
	}

	#heroInfo,
	#villainInfo {
		top: 64%;
	}

  #heroInfo h2,
  #villainInfo h2 {
    font-size: 13px;
    margin-bottom: 4px;
  }

	.hero-list a,
	.villain-list a {
		padding: 4px 0;
		width: 120px;
	}

	.hero-list li:nth-of-type(1) a,
	.villain-list li:nth-of-type(1) a {
		padding-top: 5px;
	}

	.hero-list li:nth-of-type(6) a, 
	.villain-list li:nth-of-type(6) a {
		padding-bottom: 5px
	}

	.select-hero-bg,
	.select-villain-bg {
		top: 84%;
	}
}

@media (min-width: 520px) and (min-height:450px) and (max-height: 529px) {
	#heroInfo,
	#villainInfo {
		top: 63%;
	}

  #heroInfo h2,
  #villainInfo h2 {
    font-size: 15px;
    margin-bottom: 8px;
  }

	.hero-list a,
	.villain-list a {
		font-size: 10px;
		padding: 4px 0;
		width: 125px;
	}

	.hero-list li:nth-of-type(1) a,
	.villain-list li:nth-of-type(1) a {
		padding-top: 6px;
	}

	.hero-list li:nth-of-type(6) a, 
	.villain-list li:nth-of-type(6) a {
		padding-bottom: 6px
	}	

	.select-hero-bg,
	.select-villain-bg {
		top: 83.5%;
	}
}

/*@media (min-width: 520px) and (min-height: 530px) and (max-height: 579px)  {*/
@media (min-width: 520px) and (min-height: 530px) and (max-height: 599px)  {
	#heroInfo,
	#villainInfo {
		top: 64%;
	}

  #heroInfo h2,
  #villainInfo h2 {
    font-size: 16px;
    margin-bottom: 10px;
  }

	.hero-list a,
	.villain-list a {
		font-size: 11px;
		padding: 5px 0;
		width: 145px;
	}

	.hero-list li:nth-of-type(1) a,
	.villain-list li:nth-of-type(1) a {
		padding-top: 8px;
	}

	.hero-list li:nth-of-type(6) a, 
	.villain-list li:nth-of-type(6) a {
		padding-bottom: 8px
	}	

	.select-hero-bg,
	.select-villain-bg {
		top: 85.5%;
	}
}

/*@media (min-width: 520px) and (min-height: 580px) {*/
@media (min-width: 520px) and (min-height: 600px) {
	#heroInfo h2,
  #villainInfo h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  #heroInfo li,
  #villainInfo li {
    margin: 0 auto 4px;
  }

	.hero-list a,
	.villain-list a {
		border-bottom-style: none;
		border-radius: 4px;
		font-size: 12px;
		padding: 6px 0;
		width: 140px;
	}

	.select-hero-bg,
	.select-villain-bg {
		top: 86%;
	}
	
	#heroInfo, #villainInfo {
		top: 63%;
	}
}

/*@media (min-width: 570px) {
	#heroInfo li,
  #villainInfo li {
    margin: 0 auto;
  }

	.hero-list a, .villain-list a {
		border-bottom-style: solid;
		border-bottom-width: 2px;
		border-bottom-color: #39577a;
		border-radius: 0;
		width: 145px;
	}

	.hero-list li:nth-of-type(1) a,
	.villain-list li:nth-of-type(1) a {
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		padding-top: 8px;
	}

	.hero-list li:nth-of-type(6) a, 
	.villain-list li:nth-of-type(6) a {
		border-bottom-color: transparent;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		padding-bottom: 8px
	}	
}*/

/*@media (min-width: 570px) and (max-height: 644px) {
  #heroInfo h2,
  #villainInfo h2 {
    font-size: 15px;
    margin-bottom: 8px;
  }

	.hero-list a,
	.villain-list a {
		font-size: 12px;
		padding: 5px 0;
	}
}*/

/*@media (min-width: 570px) and (min-height: 645px) and (max-height: 739px) {
	#heroInfo, #villainInfo {
		top: 64%;
	}

  #heroInfo h2,
  #villainInfo h2 {
    font-size: 16px;
    margin-bottom: 15px;
  }
  
	.hero-list a,
  .villain-list a {
    font-size: 14px;
    padding: 6px 0;
  }

	.select-hero-bg,
  .select-villain-bg {
    top: 87%;
  }
}*/

@media (min-width: 570px) and (min-height: 740px) {
	#heroInfo,
	#villainInfo {
		top: 62%;
	}

	#heroInfo h2,
	#villainInfo h2 {
		font-size: 18px;
	}

  #heroInfo li,
  #villainInfo li {
    margin: 0 auto 4.5px;
  }
  
	.hero-list a,
	.villain-list a {
		border-bottom-style: none;
		border-radius: 4px;
		font-size: 14px;
		padding: 6px 0;
		width: 160px;
	}

	.select-hero-bg,
  .select-villain-bg {
    top: 86%;
  }
}

@media (min-width: 768px) and (max-height: 620px){
	#heroInfo,
	#villainInfo {
		top: 66%;
	}

	/*@media (min-width: 768px) and (min-height: 621px) and (max-height: 749px){
  #heroInfo,
  #villainInfo {
    top: 62%;
  }*/

  #heroInfo h2,
  #villainInfo h2 {
		font-size: 17px;
		margin: 0px 0 8px;
	}

  #heroInfo li,
  #villainInfo li {
    margin: 0 auto;
  }

  .hero-list a,
  .villain-list a {
  	border-bottom-style: solid;
  	border-bottom-width: 2px;
  	border-bottom-color: #39577a;
  	border-radius: 0;
    font-size: 12px;
    padding: 4px 0;
    width: 140px;
  }

	.hero-list li:nth-of-type(1) a,
	.villain-list li:nth-of-type(1) a {
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		padding-top: 7px;
	}

	.hero-list li:nth-of-type(6) a, 
	.villain-list li:nth-of-type(6) a {
		border-bottom-color: transparent;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		padding-bottom: 7px
	}
  
  .select-hero-bg,
  .select-villain-bg {
    top: 87%;
  }
}

@media (min-width: 768px) and (min-height: 621px) and (max-height: 749px){
  #heroInfo,
  #villainInfo {
    top: 64%;
  }

  #heroInfo h2, #villainInfo h2 {
		font-size: 18px;
		margin: 0px 0 10px;
	}

  #heroInfo li,
  #villainInfo li {
    margin: 0 auto;
  }

  .hero-list a,
  .villain-list a {
  	border-bottom-style: solid;
  	border-bottom-width: 2px;
  	border-bottom-color: #39577a;
  	border-radius: 0;
    font-size: 14px;
    padding: 6px 0;
    width: 145px;
  }

	.hero-list li:nth-of-type(1) a,
	.villain-list li:nth-of-type(1) a {
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		padding-top: 8px;
	}

	.hero-list li:nth-of-type(6) a, 
	.villain-list li:nth-of-type(6) a {
		border-bottom-color: transparent;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		padding-bottom: 8px
	}
  
  .select-hero-bg,
  .select-villain-bg {
    top: 87%;
  }
}

@media (min-width: 768px) and (min-height: 750px){
  #heroInfo,
  #villainInfo {
    top: 62%;
  }

  #heroInfo h2,
  #villainInfo h2 {
    font-size: 20px;
    /*width: 225px;*/
  }

  #heroInfo li,
  #villainInfo li {
    margin: 0 auto 5px;
  }

  .hero-list a,
  .villain-list a {
    font-size: 15px;
    padding: 7px 0;
    width: 180px;
  }
  
  .select-hero-bg,
  .select-villain-bg {
    top: 87%;
  }
}

@media (min-width: 992px) {
  #heroInfo,
  #villainInfo {
    top: 64%;
  }

  #heroInfo h2,
  #villainInfo h2 {
    font-size: 21px;
    /*width: 225px;*/
  }

  #heroInfo li,
  #villainInfo li {
    margin: 0 auto 6px;
  }

	.hero-list a,
	.villain-list a {
		font-size: 16px;
		padding: 7px 0;
		width: 190px;
	}
}

/*HERO-INFO/LIST-END*/

/*SLIDER-SCROLLER*/

/* Next & previous buttons */
.prev, .next {
  background-color: rgba(0,0,0,0.6);
  cursor: pointer;
  color: #ddd;
  font-weight: bold;
  font-size: 20px;
  padding: 5px 1px 8px 2px;
  /*padding: 8px 1px 12px 2px;*/
  position: absolute;
  transition: 0.6s ease;
  top: -316px;
  user-select: none;
  border: solid 2px transparent;
  border-radius: 4px;
}

/* Position the "prev button" to the left */
.prev {
  left: -68px;
}

/* Position the "next butt5on" to the right */
.next {
  left: 43px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0,0,0,0.9);
  color: #E4BA29;
}

@media (min-width: 520px) {
	.prev,
	.next {
		background-color: transparent;
		color: #6E67A2;
		display: block;
		font-size: 20px;
		padding: 5px 1px 6px 2px;
		top: 11px;
	}

  .prev {
    left: -82px;
  }
  
  /* Position the "next button" to the right */
  .next {
    left: 57px;
  }


  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.5);
    color: #E1DFFC;
  }
}

@media (min-width: 520px) and (min-height: 450px) {
	.prev,
	.next {
		font-size: 22px;
		padding: 6px 1px 7px 2px;
		top: 12px;
	}	
}

@media (min-width: 570px) and (min-height: 600px) {
  .prev,
  .next {
    font-size: 22px;
    padding: 8px 1px 12px 2px;
    top: 10px;
  }

  .prev {
    left: -94px;
  }
  
  .next {
    left: 68px;
  }
}

@media (min-width: 570px) and (min-height: 740px) {
	.prev,
	.next {
		/*font-size: 22px;*/
		/*padding: 8px 1px 12px 2px;*/
		top: 16px;
	}
}

/*@media (min-width: 600px) {
  .prev,
  .next {
    top: 15px;
  }

  .prev {
    left: -110px;
  }
  
  .next {
    left: 82px;
  }
}*/
@media (min-width: 768px) and (max-height: 749px){
	.prev,
	.next {
    font-size: 22px;
		top: 10px;
	}

  .prev {
    left: -95px;
  }
  
  .next {
    left: 70px;
  }
}

@media (min-width: 768px) and (min-height: 750px) {
	.prev,
	.next {
    font-size: 24px;
		top: 13px;
	}

  .prev {
    left: -105px;
  }
  
  .next {
    left: 77px;
  }
}

@media (min-width: 992px) {
	.prev, .next {
		top: 13px;
	}

	.prev {
		left: -114px;
	}
	.next {
		left: 86px;
	}
}



/*SLIDER-SCROLLER-END*/

/*SELECT-HERO-BUTTON*/

/*styles for select-hero & select-villain button*/
.select-hero, .select-villain {
  border: solid 4px #222;
  border-radius: 6px;
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-top: 12px;
  text-align: center;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  width: 140px;
  height: 45px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.select-hero-inactive {
  background-color: #4B4675;
  border: solid 4px #5C5787;
   border-radius: 6px;
  color: #777;
}

.select-hero-active {
  background-color: #4A3CC9;
  border: solid 4px #bbb;
  border-radius: 6px;
  color: #fff;
}

.select-hero-selected,
.select-villain-selected {
  background-color: #FFA94A;
  border-color: #9f5b50;
  color: #f93d1d;
}

.select-hero-active:hover,
.select-villain-active:hover {
  background-color: #fff;
  color: #1D0B46;
  border-color: #1D0B46;
}

.select-villain-inactive {
  background-color: #4B4675;
  border: solid 4px #5C5787;
  border-radius: 6px;
  color: #777;
}

.select-villain-active {
  background-color: #4A3CC9;
  border: solid 4px #bbb;
  border-radius: 6px;
  color: #fff;
}

@media (min-width: 520px) {
	.select-hero,
	.select-villain {
		font-size: 14px;
		/*width: 110px;*/
		height: 40px;
	}

	.select-hero {
		width: 110px;
	}
/*	.select-villain {
		width: 130px;
	}*/
}

@media (min-width: 520px) and (max-height: 449px) {
	.select-hero, .select-villain {
		font-size: 13px;
		/*width: 100px; */
		height: 35px;
	}
	.select-villain {
		width: 120px;
	}
}

@media (min-width: 520px) and (min-height: 450px) and (max-height: 529px) {
	.select-villain {
		width: 130px;
	}
}

@media (min-width: 520px) and (min-height: 530px) {
	.select-villain {
		width: 145px;
	}	
}

/*@media (min-width: 570px) {
	.select-hero {
		font-size: 15px;
		width: 135px;
		height: 50px;
	}

	.select-villain {
		font-size: 15px;
		height: 50px;
		width: 160px;
	}
}*/

/*@media (min-width: 570px) and (max-height: 739px) {
	.select-hero {
		font-size: 14px;
		height: 40px;
		width: 120px;
	}

	.select-villain {
		font-size: 14px;
		height: 40px;
		width: 140px;
	}
}*/

@media (min-width: 570px) and (min-height: 740px) {
	.select-hero {
		font-size: 15px;
		width: 135px;
		height: 50px;
	}

	.select-villain {
		font-size: 15px;
		height: 50px;
		width: 160px;
	}
}

@media (min-width: 768px) and (max-height: 749px){
	.select-hero {
		font-size: 14px;
		height: 40px;
		width: 135px;
	}

	.select-villain {
		font-size: 14px;
		height: 40px;
		width: 140px;
	}
}


@media (min-width: 768px) and (min-height: 750px) {
	.select-hero {
		font-size: 18px;
		width: 145px;
	}
	
  .select-villain {
    font-size: 18px;
    width: 180px;
  }
}

@media (min-width: 992px) {
	.select-hero {
		font-size: 20px;
		width: 160px;
	}
	
  .select-villain {
    font-size: 20px;
    /*width: 180px;*/
  }
}

/*SELECT-HERO-BUTTON-END*/

/*DOT-SELECTOR*/

/*postion dots inline with slide*/
.dot-selector {
  display: none;
  margin: -15px 0 0;
  position: absolute;
  width: 200px;
  top: 220px;
  left: 52%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0;
  background-color: #6E67A2;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #E1DFFC;
}

.active {
  background-color: #FB8606;
}

/*make positioning  of tooptip content relative to parent element*/
.tooltip {
  position: relative;
}

.tooltip > .tooltiptext {
  display: none;
  width: 200px;
  background-color: rgba(34, 34, 34, 0.5);
  color: #FF9404;
  text-align: center;
  padding: 8px 4px 8px;
  position: absolute;
  z-index: 2;
  font-size: 16px;
  font-style: italic;
  top: -47px;
  border: none;
  border-radius: 2px;
  transition: all .75s ease-in;
  -webkit-transition: all .75s ease-in;
  -moz-transition: all .75s ease-in;
  -o-transition: all .75s ease-in;
}

.tooltip > .tooltipimg {
  display: none;
  position: absolute;
  background-color: #000;
  border: 4px solid #222;
  border-radius: 6px;
  margin: 0 auto 20px;
  height: 200px;
  width: 200px;
  z-index: 1;
  top: -211px;
  transition: all .75s ease-in;
  -webkit-transition: all .75s ease-in;
  -moz-transition: all .75s ease-in;
  -o-transition: all .75s ease-in;
}

/*.antman > .tooltipimg {
  left: -4px;
}

.antman > .tooltiptext {
  left: -4px;
}

.blackwidow > .tooltipimg {
  left: -16px;
}

.blackwidow > .tooltiptext {
  left: -16px;
}

.captainamerica > .tooltipimg {
  left: -30px;
}

.captainamerica > .tooltiptext {
  left: -30px;
}

.captainmarvel > .tooltipimg {
  left: -43px;
}

.captainmarvel > .tooltiptext {
  left: -43px;
}

.deadpool > .tooltipimg {
  left: -55px;
}

.deadpool > .tooltiptext {
  left: -55px;
}

.drstrange .tooltipimg {
  left: -70px;
}

.drstrange > .tooltiptext {
  left: -70px;
}

.falcon > .tooltipimg {
  left: -81px;
}

.falcon > .tooltiptext {
  left: -81px;
}

.hawkeye > .tooltipimg {
  left: -95px;
}

.hawkeye > .tooltiptext {
  left: -95px;
}

.hulk > .tooltipimg {
  left: -106px;
}

.hulk > .tooltiptext {
  left: -106px;
}

.ironman > .tooltipimg {
  left: -121px;
}

.ironman > .tooltiptext {
  left: -121px;
}

.scarletwitch > .tooltipimg {
  left: -135px;
}

.scarletwitch > .tooltiptext {
  left: -135px;
}

.spiderman > .tooltipimg {
  left: -147px;
}

.spiderman > .tooltiptext {
  left: -147px;
}

.thor > .tooltipimg {
  left: -160px;
}

.thor > .tooltiptext {
  left: -160px;
}

.warmachine > .tooltipimg {
  left: -173px;
}

.warmachine > .tooltiptext {
  left: -173px;
}

.vision > .tooltipimg {
  left: -186px;
}

.vision > .tooltiptext {
  left: -186px;
}*/

.tooltip:hover > .tooltiptext {
  display: block;
  z-index: 2;
  /*visibility: visible;*/
}

.tooltip:hover > .tooltipimg {
  display: block;
  z-index: 1;
  /*visibility: visible;*/
}

@media (min-width: 570px) and (min-height: 690px) {
	.dot-selector {
		display: block;
		top: 188px;
		left: 50.5%;
		width: 160px;
	}

	.dot {
		height: 6px;
		width: 6px;
		margin: 0;
	}
}


@media (min-width: 570px) {
	.dot-selector {
		/*display: block;*/
		/*margin: -15px 0 0;*/
		/*position: absolute;*/
		/*width: 164px;*/
		/*top: 192px;*/
		/*left: 52%;*/
		/*transform: translateX(-50%);*/
		/*-webkit-transform: translateX(-50%);*/
		/*-ms-transform: translateX(-50%);*/
	}

	/*.dot {*/
		/*cursor: pointer;*/
		/*height: 6px;*/
		/*width: 6px;*/
		/*margin: 0;*/
		/*background-color: #6E67A2;*/
		/*border-radius: 50%;*/
		/*display: inline-block;*/
		/*transition: background-color 0.6s ease;*/
	/*}*/
}

/*@media (min-width: 570px) and (max-height: 689px) {
.dot-selector {
	width: 155px;
	top: 178px;
}

	.dot {
		height: 5px;
		width: 5px;
	}
}*/

/*@media (min-width: 570px) and (min-height: 690px) {
	.dot-selector {
		width: 164px;
		top: 192px;
	}

	.dot {
		height: 6px;
		width: 6px;
	}
}*/

@media (min-width: 768px) and (max-height: 749px){
	.dot-selector {
		/*display: block;*/
		/*top: 100%;*/
		/*left: 51%;*/
		width: 163px;
	}

	.dot {
		/*cursor: pointer;*/
		height: 6px;
		width: 6px;
		/* margin: .3px; */
	}
}

@media (min-width: 768px) and (min-height: 750px){
	.dot-selector {
		/*display: block;*/
		/*top: 100%;*/
		/*left: 51%;*/
		width: 180px;
	}

	.dot {
		/*cursor: pointer;*/
		height: 7px;
		width: 7px;
		/* margin: .3px; */
	}	
}

@media (min-width: 768px) and (max-height: 589px) {
	.dot-selector {
		width: 150px;
	}

	.dot {
		height: 5px;
		width: 5px;
	}	
}

@media (min-width: 768px) and (min-height: 590px) {
	.dot-selector {
		width: 163px;
	}

	.dot {
		height: 6px;
		width: 6px;
	}	
}


@media (min-width: 768px) {
	.dot-selector {
		display: block;
		top: 100%;
		left: 51%;
		/*width: 180px;*/
	}

	.dot {
		cursor: pointer;
		/*height: 7px;*/
		/*width: 7px;*/
		/* margin: .3px; */
	}

	.tooltip > .tooltiptext {
		width: 186px;
		top: -43px;
	}

	.tooltip > .tooltipimg {
		height: 190px;
		width: 190px;
		top: -198px;
		/*position: absolute;*/
		/*left: -31px;*/
	}

  .antman > .tooltipimg {
    left: -7px;
  }

  .antman > .tooltiptext {
    left: -7px;
  }

  .blackwidow > .tooltipimg {
    left: -19px;
  }

  .blackwidow > .tooltiptext {
    left: -17px;
  }

  .captainamerica > .tooltipimg {
    left: -31px;
  }

  .captainamerica > .tooltiptext {
    left: -29px;
  }

  .captainmarvel > .tooltipimg {
    left: -43px;
  }

  .captainmarvel > .tooltiptext {
    left: -42px;
  }

  .deadpool > .tooltipimg {
    left: -55px;
  }

  .deadpool > .tooltiptext {
    left: -66px;
  }

  .drstrange .tooltipimg {
    left: -67px;
  }

  .drstrange .tooltiptext {
    left: -65px;
  }

  .falcon > .tooltipimg {
    left: -79px;
  }

  .falcon > .tooltiptext {
    left: -77px;
  }

  .hawkeye > .tooltipimg {
    left: -91px;
  }

  .hawkeye > .tooltiptext {
    left: -88px;
  }

  .hulk > .tooltipimg {
    left: -103px;
  }

  .hulk > .tooltiptext {
    left: -102px;
  }

  .ironman > .tooltipimg {
    left: -115px;
  }

  .ironman > .tooltiptext {
    left: -112px;
  }

  .scarletwitch > .tooltipimg {
    left: -127px;
  }

  .scarletwitch > .tooltiptext {
    left: -125px;
  }

  .spiderman > .tooltipimg {
    left: -138px;
  }

  .spiderman > .tooltiptext {
    left: -136px;
  }

  .thor > .tooltipimg {
    left: -151px;
  }

  .thor > .tooltiptext {
    left: -150px;
  }

  .warmachine > .tooltipimg {
    left: -163px;
  }

  .warmachine > .tooltiptext {
    left: -161px;
  }

  .vision > .tooltipimg {
    left: -175px;
  }

  .vision > .tooltiptext {
    left: -171px;
  }
}

@media (min-width: 992px) {
	.dot-selector {
		display: block;
		top: 101%;
		/* left: 51%; */
		width: 208px;
	}

	.dot {
		/*cursor: pointer;*/
		height: 9px;
		width: 9px;
		/* margin: .3px; */
	}

  .tooltip > .tooltiptext {
    width: 225px;
    top: -45px;
  }

	 .antman > .tooltipimg {
    left: -7px;
  }

  .antman > .tooltiptext {
    left: -7px;
  }

  .blackwidow > .tooltipimg {
    left: -19px;
  }

  .blackwidow > .tooltiptext {
    left: -22px;
  }

  .captainamerica > .tooltipimg {
    left: -37px;
  }

  .captainamerica > .tooltiptext {
    left: -37px;
  }

  .captainmarvel > .tooltipimg {
    left: -51px;
  }

  .captainmarvel > .tooltiptext {
    left: -51px;
  }

  .deadpool > .tooltipimg {
    left: -66px;
  }

  .deadpool > .tooltiptext {
    left: -66px;
  }

  .drstrange .tooltipimg {
    left: -80px;
  }

  .drstrange .tooltipimg {
    left: -80px;
  }

  .falcon > .tooltipimg {
    left: -95px;
  }

  .falcon > .tooltiptext {
    left: -95px;
  }

  .hawkeye > .tooltipimg {
    left: -110px;
  }

  .hawkeye > .tooltiptext {
    left: -110px;
  }

  .hulk > .tooltipimg {
    left: -124px;
  }

  .hulk > .tooltiptext {
    left: -124px;
  }

  .ironman > .tooltipimg {
    left: -139px;
  }

  .ironman > .tooltiptext {
    left: -139px;
  }

  .scarletwitch > .tooltipimg {
    left: -153px;
  }

  .scarletwitch > .tooltiptext {
    left: -153px;
  }

  .spiderman > .tooltipimg {
    left: -168px;
  }

  .spiderman > .tooltiptext {
    left: -168px;
  }

  .thor > .tooltipimg {
    left: -183px;
  }

  .thor > .tooltiptext {
    left: -183px;
  }

  .warmachine > .tooltipimg {
    left: -197px;
  }

  .warmachine > .tooltiptext {
    left: -197px;
  }

  .vision > .tooltipimg {
    left: -212px;
  }

  .vision > .tooltiptext {
    left: -212px;
  }
}

/*DOT-SELECTOR-END*/

/*RESULTS-MODAL*/

.results-modal {
  position: absolute;
  background-color: rgba(0,0,0,.9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  opacity: 1;
}

.results-modal-inner {
  background-color: #1D0B46;
  border: 4px solid #888;
  border-radius: 4px;
	padding: 10px 5px;
	/*width: 90%;*/
	/*height: 90%;*/
	max-width: 800px;
	max-height: 720px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

/*.results-modal-inner {
  position: absolute;
  top: 50%;
  padding: 10px 25px 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 540px;
  height: 630px;
}*/

.results-modal-inner > h2 {
  color: #ffa500;
  text-shadow: 2px 2px 2px #000;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  text-align: center;
	top: 2%;
	transform: translateX(-50%);
	left: 50%;
	width: 100%;
}

/*.results-modal-inner > h2 {
  text-align: center;
  margin: 20px 0;
}*/
 
.hero-modal-image {
  border: solid 4px #888;
  border-radius: 4px;
  background-color: #222230;
  box-shadow: 5px 10px 8px #000;
	position: absolute;
	top: 8%;
	width: 28%;
	transform: translateX(-50%);
	left: 50%;
}

/*.hero-modal-image {
  width: 45%;
  margin: 35px auto;
  display: block;
}*/

.results-modal-infinitystone {
	position: absolute;
	top: 49%;
	transform: translateX(-50%);
	left: 50%;
	width: 100%;
}

.results-modal-infinitystone > p {
  color: #888;
  font-size: 12px;
  text-align: center;
 }
 
/*.results-modal-inner > p {
  font-size: 14px;
  margin-bottom: 20px;
  text-align: center;
}*/

.results-modal-infinitystone > p:nth-of-type(1) {
  margin: 5% 0 4%;
}
  
.results-modal-infinitystone > p:nth-of-type(2) {
  margin: 2% 0 4%;
}

.results-modal-inner > p > span {
  font-weight: bold;
  font-size: 14px;
  text-shadow: 2px 2px 2px #000;
}

.infinitystone-modal-image {
  background-color: #000;
  padding: 12px;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
  width: 40px;
}

/*.infinitystone-modal-image {
  width: 14%;
}*/

#resultsModal.modal-fadeout {
  animation-name: fadeout;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes fadeout{
    0%{opacity:1; display:block;}
    66%{opacity:1}
    100%{opacity:0; display: none;}
}

@-webkit-keyframes fadeout{
    0%{opacity:1; display:block;}
    66%{opacity:1}
    100%{opacity:0; display: none;}
}

.overlay-fadein{
animation:3s ease 0s normal forwards 1 fadein;
-webkit-animation:3s ease 0s normal forwards 1 fadein;
opacity:1
}

@keyframes fadein{
  0%{opacity:0; display: none;}
  66%{opacity:0}
  100%{opacity:1; display: block;}
}

@-webkit-keyframes fadein{
  0%{opacity:0; display: none;}
  66%{opacity:0}
  100%{opacity:1; display: block;}
}

.modal-fadein{
  animation:6s ease 0s normal forwards 1 fadein;
  -webkit-animation:6s ease 0s normal forwards 1 fadein;
  opacity:1;
  display: block;
  z-index: 4;
}

@keyframes fadein{
  0%{opacity:0; display: none;}
  66%{opacity:0}
  100%{opacity:1; display: block;}
}

@-webkit-keyframes fadein{
  0%{opacity:0; display: none;}
  66%{opacity:0}
  100%{opacity:1; display: block;}
}

/*match color of infinity stone name with image*/
.power-stone-color {
  color: #9f7cdc;
}

.space-stone-color {
  color: #62c8c3;
}

.reality-stone-color {
  color: #ff5151;
}

.soul-stone-color {
  color: #fca02e;
}

.time-stone-color {
  color: #3eca3e;
}

.mind-stone-color {
  color: #ebe84e;
}

/*results-modal-animations*/

.glowing-border {
    box-shadow: 0 0 10px 1px #eff8b5;
}

@keyframes blink {
   50% {
    box-shadow: 0 0 10px 1px #eff8b5;
   }
}

.blinking-border {
    animation: blink .75s step-end infinite alternate;
}

@keyframes glow {
   50% {
    background-color: #fff;
    box-shadow: 0 0 10px 1px #eff8b5;
    border-color: #eff8b5;
   }
}

.glow-effect {
    animation: glow 1s step-end infinite alternate;
}

/*results-modal-animations-end*/

.play-again-button {
  background-color: #4A3CC9;
  border: solid 4px #bbb;
  border-radius: 6px;
  color: #fff;
	font-size: 14px;
  font-weight: bold;
	position: absolute;
	top: 81%;
	left: 50%;
	transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  text-align: center;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  height: 50px;
  width: 160px;
}

.marvel-data-button {
  background-color: #4A3CC9;
  border: solid 4px #bbb;
  border-radius: 6px;
  color: #fff;
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin: 25px auto 0;
  text-align: center;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  width: 200px;
  height: 60px;
}

.play-again-button:hover,
.marvel-data-button:hover {
  background-color: #fff;
  border-color: #534AD2;
  color: #1D0B46;
}

@media (min-width: 520px) {
  .results-modal-inner > h2 {
    font-size: 20px;
		top: 5%;
  }
	
	.hero-modal-image {
		top: 15%;
		width: 160px;
	}

	.results-modal-infinitystone {
		top: 49%;
	}

  .results-modal-infinitystone > p {
    font-size: 13px;
  }

  .results-modal-infinitystone > p:nth-of-type(1) {
    margin: 4% 0 3%;
  }
  
  .results-modal-infinitystone > p:nth-of-type(2) {
    margin: 3% 0 4%;
  }
  
  .infinitystone-modal-image {
    width: 42px;
  }

	.play-again-button {
		font-size: 15px;
		top: 85%;
		height: 50px;
		width: 160px;
	}
}

@media (min-width: 570px) {
	/*.results-modal-inner {
	    padding: 7px 4px;
	    width: 85%;
	    height: 85%;
	}*/

  .results-modal-inner > h2 {
    /*font-size: 22px;*/
		top: 4%;
  }
	
	.hero-modal-image {
		top: 15%;
		/*width: 170px;*/
	}

	.results-modal-infinitystone {
		top: 55%;
	}

  /*.results-modal-infinitystone > p {
    font-size: 14px;
  }*/

  /*.results-modal-infinitystone > p:nth-of-type(1) {
    margin: 5% 0 2%;
  }*/
  
  /*.results-modal-infinitystone > p:nth-of-type(2) {
    margin: 2% 0 5%;
  }*/
  
  /*.infinitystone-modal-image {
    width: 43px;
  }*/

	.play-again-button {
		/*font-size: 16px;*/
		top: 84%;
		/*height: 55px;*/
  	/*width: 170px;*/
	}
}

@media (min-width: 570px) and (max-height: 549px) {
	.results-modal-inner {
		border-style: none;
		width: 100%;
		height: 100%;
		max-height: none;
	}	

  .results-modal-inner > h2 {
    font-size: 20px;
		/*top: 5%;*/
  }
	
	.hero-modal-image {
		/*top: 15%;*/
		width: 160px;
	}

	.results-modal-infinitystone {
		top: 55%;
	}

  .results-modal-infinitystone > p {
    font-size: 12px;
  }

  .results-modal-infinitystone > p:nth-of-type(1) {
    margin: 0 0 1.5%;
  }
  
  .results-modal-infinitystone > p:nth-of-type(2) {
    margin: 1.5% 0 0;
  }
  
  .infinitysone-modal-image {
    width: 41px;
  }

	.play-again-button {
		font-size: 14px;
		/*top: 84%;*/
		height: 45px;
  	width: 160px;
	}
}

@media (min-width: 570px) and (min-height: 550px) and (max-height: 619px) {
	.results-modal-inner {
		width: 90%;
		height: 90%;
	}

  .results-modal-inner > h2 {
    font-size: 21px;
		/*top: 5%;*/
  }
	
	.hero-modal-image {
		/*top: 15%;*/
		width: 165px;
	}

	.results-modal-infinitystone {
		top: 55%;
	}

  .results-modal-infinitystone > p {
    font-size: 13px;
  }

  .results-modal-infinitystone > p:nth-of-type(1) {
    margin: 0 0 1.5%;
  }
  
  .results-modal-infinitystone > p:nth-of-type(2) {
    margin: 1.5% 0 0;
  }
  
  .infinitysone-modal-image {
    width: 42px;
  }

	.play-again-button {
		font-size: 15px;
		/*top: 84%;*/
		height: 50px;
  	width: 165px;
	}	
}

@media (min-width: 570px) and (min-height: 620px) {
	.results-modal-inner {
		width: 85%;
		height: 85%;
	}

  .results-modal-inner > h2 {
    font-size: 22px;
		/*top: 5%;*/
  }
	
	.hero-modal-image {
		/*top: 15%;*/
		width: 170px;
	}

	.results-modal-infinitystone {
		top: 55%;
	}

  .results-modal-infinitystone > p {
    font-size: 14px;
  }

  .results-modal-infinitystone > p:nth-of-type(1) {
    margin: 0 0 2%;
  }
  
  .results-modal-infinitystone > p:nth-of-type(2) {
    margin: 2% 0 0;
  }
  
  .infinitysone-modal-image {
    width: 43px;
  }

	.play-again-button {
		font-size: 16px;
		/*top: 84%;*/
		height: 55px;
  	width: 170px;
	}
}

@media (min-width: 768px) {
	.results-modal-inner {
	    padding: 5px 2px;
	}

  .results-modal-inner > h2 {
    /*font-size: 24px;*/
		top: 5%;
  }
	
	.hero-modal-image {
		top: 15%;
		/*width: 180px;*/
	}

	/*.results-modal-infinitystone {
		top: 49%;
	}*/

  /*.results-modal-infinitystone > p {
    font-size: 15px;
  }*/

  /*.results-modal-infinitystone > p:nth-of-type(1) {
    margin: 0 0 4%;
  }*/
  
  /*.results-modal-infinitystone > p:nth-of-type(2) {
    margin: 4% 0 0;
  }*/
  
  /*.infinitystone-modal-image {
    width: 45px;
  }*/

	.play-again-button {
		/*font-size: 17px;*/
		top: 84%;
		/*height: 60px;*/
  /*	width: 180px;*/
	}
}

@media (min-width: 768px) and (max-height: 599px) {
	.results-modal-inner {
		border-style: none;
		width: 100%;
		height: 100%;
		max-height: none;
	}

  .results-modal-inner > h2 {
    font-size: 22px;
		/*top: 5%;*/
  }
	
	.hero-modal-image {
		/*top: 15%;*/
		width: 170px;
	}

	.results-modal-infinitystone {
		top: 56%;
	}

  .results-modal-infinitystone > p {
    font-size: 13px;
  }

  .results-modal-infinitystone > p:nth-of-type(1) {
    margin: 0 0 1.5%;
  }
  
  .results-modal-infinitystone > p:nth-of-type(2) {
    margin: 1.5% 0 0;
  }
  
  .infinitystone-modal-image {
    width: 42px;
  }

	.play-again-button {
		font-size: 15px;
		/*top: 84%;*/
		height: 50px;
  	width: 170px;
	}
}

@media (min-width: 768px) and (min-height: 600px) and (max-height: 799px) {
	.results-modal-inner {
		width: 90%;
		height: 90%;
	}

  .results-modal-inner > h2 {
    font-size: 23px;
		/*top: 5%;*/
  }
 
	.hero-modal-image {
		/*top: 15%;*/
		width: 175px;
	}
	
	.results-modal-infinitystone > p {
    font-size: 15px;
  }

	.results-modal-infinitystone {
		top: 55%;
	}

  .results-modal-infinitystone > p:nth-of-type(1) {
    margin: 0 0 2%;
  }
  
  .results-modal-infinitystone > p:nth-of-type(2) {
    margin: 2% 0 0;
  }
  
  .infinitystone-modal-image {
    width: 42px;
  }

	.play-again-button {
		font-size: 16px;
		/*top: 84%;*/
		height: 55px;
  	width: 175px;
	}
}

@media (min-width: 768px) and (min-height: 800px) {
	.results-modal-inner {
		width: 80%;
		height: 80%;
	}

  .results-modal-inner > h2 {
    font-size: 24px;
		/*top: 5%;*/
  }
 
	.hero-modal-image {
		/*top: 15%;*/
		width: 180px;
	}
	 .results-modal-infinitystone > p {
    font-size: 15px;
  }

  .results-modal-infinitystone > p:nth-of-type(1) {
    margin: 5% 0 4%;
  }
  
  .results-modal-infinitystone > p:nth-of-type(2) {
    margin: 4% 0 5%;
  }
  
  .infinitystone-modal-image {
    width: 45px;
  }

	.play-again-button {
		font-size: 17px;
		/*top: 84%;*/
		height: 60px;
  	width: 180px;
	}
}

@media (min-width: 992px) {
	.results-modal-inner {
		padding: 4px 0;
		/*width: 90%;*/
		/*height: 90%;*/
		/*max-width: 800px;*/
		/*max-height: 720px;*/
	}

  .results-modal-inner > h2 {
    font-size: 25px;
		top: 5%;
  }
	
	.hero-modal-image {
		top: 15%;
		width: 200px;
	}

	.results-modal-infinitystone {
		top: 56%;
	}

  .results-modal-infinitystone > p {
    font-size: 16px;
  }

  .results-modal-infinitystone > p:nth-of-type(1) {
    margin: 0 0 2%;
  }
  
  .results-modal-infinitystone > p:nth-of-type(2) {
    margin: 2% 0 0;
  }
  
  .infinitystone-modal-image {
    width: 44px;
  }

	.play-again-button {
		font-size: 18px;
		top: 84%;
		height: 60px;
  	width: 180px;
	}
}

@media (min-width: 992px) and (max-height: 630px) {
	.results-modal-inner {
		/*padding: 4px 0;*/
		border-style: none;
		width: 100%;
		height: 100%;
		/*max-width: 800px;*/
		max-height: none;
	}	

  .results-modal-inner > h2 {
    font-size: 22px;
		top: 5%;
  }
	
	.hero-modal-image {
		top: 15%;
		width: 180px;
	}

	.results-modal-infinitystone {
		top: 56%;
	}

  .results-modal-infinitystone > p {
    font-size: 14px;
  }

  .results-modal-infinitystone > p:nth-of-type(1) {
    margin: 0 0 1%;
  }
  
  .results-modal-infinitystone > p:nth-of-type(2) {
    margin: 1% 0 0;
  }
  
  .infinitystone-modal-image {
    width: 42px;
  }

	.play-again-button {
		font-size: 16px;
		top: 84%;
		height: 50px;
  	width: 160px;
	}	
}

@media (min-width: 992px) and (max-height: 799px) {
	.results-modal-inner {
		/*padding: 4px 0;*/
		width: 90%;
		height: 90%;
		/*max-width: 800px;*/
		/*max-height: 720px;*/
	}	
}

@media (min-width: 992px) and (min-height: 800px) {
	.results-modal-inner {
		/*padding: 4px 0;*/
		width: 75%;
		height: 75%;
		/*max-width: 800px;*/
		/*max-height: 720px;*/
	}	
}

/*RESULTS-MODAL-END*/

/*API-MODAL*/

.marvel-data-bg {
  position: absolute;
  background-color: rgba(0,0,0,.9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 800px;
}

.marvel-data {
  background-color: #392569;
  border: solid 6px #7269C2;
  border-radius: 6px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%
}

.marvel-data-hide {
  /*opacity: 0;*/
  display: none
}

.marvel-data-reveal {
  /*opacity: 1;*/
  display: block;
}

.marvel-data img {
  border: 4px solid #222;
  border-radius: 6px;
  display: block;
  margin: 10px auto;
  height: 250px;
  width: 250px;
}

.marvel-data h2 {
  font-size: 28px;
  margin: 30px 0 10px;
  text-align: center;
  font-weight: bold;
  color: #EF9B3F;
}

.marvel-data p {
  color: #818786;
  font-family: 'Chakra', sans-serif;
  font-size: 14px;
  line-height: 25px;
  margin: 0 30px 20px;
  text-align: justify;
}

.marvel-data a {
  background-color: #968CF3;
  border-radius: 6px;
  color: #fff;
  display: block;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  margin: 0 auto 15px;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  width: 200px;
}

.marvel-data a:hover {
  background-color: #fff;
  color: #968CF3;
}

/*API-MODAL-END*/

/*JASMINE*/

/*overlay and hide hero and villain list used for jasmine testing*/
#jasmineHeroInfo,
#jasmineVillainInfo {
  position: absolute;
  top: 224px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  visibility: hidden;
}

/*JASMINE-END*/